In [1]:
import pandas as pd
import numpy as np
import math as math
import matplotlib.pyplot as plt
import seaborn as sns
import random as rd
%matplotlib inline

In [2]:
# to see all the columns when using head() or describe()
pd.set_option('display.max_columns',60)

In [5]:
inc = pd.read_csv("../../Notebooks/aux_data/inc_ind_over_trx_yr_mo_usd_excRR.csv",dtype={"m_ids_owner":str})

In [6]:
inc.head()

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_meanptrx,inc_i_sdptrx,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_medianpti,inc_i_iqrpti,inc_i_maxpti,inc_i_meanptrx_AGRI,inc_i_sdptrx_AGRI,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_medianpti_AGRI,inc_i_iqrpti_AGRI,inc_i_meanptrx_CITMPC,inc_i_sdptrx_CITMPC,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_medianpti_CITMPC,inc_i_iqrpti_CITMPC,inc_i_meanptrx_NEINCG,inc_i_sdptrx_NEINCG,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_medianpti_NEINCG,inc_i_iqrpti_NEINCG,inc_i_meanptrx_REI,inc_i_sdptrx_REI,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_medianpti_REI,inc_i_iqrpti_REI,inc_i_meanptrx_RIOI,inc_i_sdptrx_RIOI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_medianpti_RIOI,inc_i_iqrpti_RIOI,inc_i_meanptrx_SEI,inc_i_sdptrx_SEI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_medianpti_SEI,inc_i_iqrpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,2,7.931962,16.87823,17.647060,103.11550,35.65044,116.47060,32.64706,137.23530,NaN,NaN,0.0,0.0,0.0,0.0,3.808452,3.270720,35.660960,22.606590,42.941180,36.17647,NaN,NaN,0.0,0.0,0.0,0.0,18.55000,29.132750,67.45454,26.98390,70.94118,10.23529,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
1,KELDK02,56134389503000000,1,11.654500,223.38450,-1529.412000,356.43330,1037.63000,417.32350,1098.52900,2001.17700,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,0.000000,0.00000,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.00000,0.00000,0.00000,0.00000,NaN,NaN,0.0,0.0,0.0,0.0,11.654500,223.38450,356.4333,1037.6300,417.32350,1098.5290,SEI
2,KELDK08,56134410699600000,2,12.862750,14.19510,2.352941,30.01307,17.49300,37.64706,22.35294,51.88235,NaN,NaN,0.0,0.0,0.0,0.0,4.909804,5.479746,8.183006,7.638482,4.705883,11.88235,NaN,NaN,0.0,0.0,0.0,0.0,32.74510,7.603193,21.83006,17.44106,32.94118,35.29412,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
3,KELDK08,56134410709700000,2,10.059220,14.64451,3.764706,25.14804,14.33156,33.68235,25.58823,41.17647,NaN,NaN,0.0,0.0,0.0,0.0,1.524599,0.500962,2.795098,4.155897,0.882353,4.30000,NaN,NaN,0.0,0.0,0.0,0.0,33.52941,5.409572,22.35294,17.06343,30.58824,35.29412,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
4,KELDK09,56134329944600000,2,4.218487,40.39918,-2.352941,123.48660,138.51580,98.82353,219.41180,434.11760,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,0.000000,0.00000,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.00000,0.00000,0.00000,0.00000,NaN,NaN,0.0,0.0,0.0,0.0,4.218487,40.39918,123.4866,138.5158,98.82353,219.4118,SEI

In [7]:
inc.shape

(631, 48)

In [8]:
inc.isnull().describe()

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_meanptrx,inc_i_sdptrx,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_medianpti,inc_i_iqrpti,inc_i_maxpti,inc_i_meanptrx_AGRI,inc_i_sdptrx_AGRI,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_medianpti_AGRI,inc_i_iqrpti_AGRI,inc_i_meanptrx_CITMPC,inc_i_sdptrx_CITMPC,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_medianpti_CITMPC,inc_i_iqrpti_CITMPC,inc_i_meanptrx_NEINCG,inc_i_sdptrx_NEINCG,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_medianpti_NEINCG,inc_i_iqrpti_NEINCG,inc_i_meanptrx_REI,inc_i_sdptrx_REI,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_medianpti_REI,inc_i_iqrpti_REI,inc_i_meanptrx_RIOI,inc_i_sdptrx_RIOI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_medianpti_RIOI,inc_i_iqrpti_RIOI,inc_i_meanptrx_SEI,inc_i_sdptrx_SEI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_medianpti_SEI,inc_i_iqrpti_SEI,inc_i_dom
count,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631
unique,1,1,1,2,2,1,1,2,1,1,1,2,2,1,2,1,1,2,2,1,2,1,1,2,2,1,2,1,1,2,2,1,2,1,1,2,2,1,2,1,1,2,2,1,2,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,False
freq,631,631,631,629,576,631,631,555,631,631,631,421,454,631,555,631,631,357,389,631,555,631,631,563,589,631,555,631,631,515,525,631,555,631,631,432,489,631,555,631,631,366,381,631,555,631,631,631

In [9]:
list(inc.columns)

['hh_ids',
 'm_ids_owner',
 'inc_i_unique_sources',
 'inc_i_meanptrx',
 'inc_i_sdptrx',
 'inc_i_minpti',
 'inc_i_meanpti',
 'inc_i_sdpti',
 'inc_i_medianpti',
 'inc_i_iqrpti',
 'inc_i_maxpti',
 'inc_i_meanptrx_AGRI',
 'inc_i_sdptrx_AGRI',
 'inc_i_meanpti_AGRI',
 'inc_i_sdpti_AGRI',
 'inc_i_medianpti_AGRI',
 'inc_i_iqrpti_AGRI',
 'inc_i_meanptrx_CITMPC',
 'inc_i_sdptrx_CITMPC',
 'inc_i_meanpti_CITMPC',
 'inc_i_sdpti_CITMPC',
 'inc_i_medianpti_CITMPC',
 'inc_i_iqrpti_CITMPC',
 'inc_i_meanptrx_NEINCG',
 'inc_i_sdptrx_NEINCG',
 'inc_i_meanpti_NEINCG',
 'inc_i_sdpti_NEINCG',
 'inc_i_medianpti_NEINCG',
 'inc_i_iqrpti_NEINCG',
 'inc_i_meanptrx_REI',
 'inc_i_sdptrx_REI',
 'inc_i_meanpti_REI',
 'inc_i_sdpti_REI',
 'inc_i_medianpti_REI',
 'inc_i_iqrpti_REI',
 'inc_i_meanptrx_RIOI',
 'inc_i_sdptrx_RIOI',
 'inc_i_meanpti_RIOI',
 'inc_i_sdpti_RIOI',
 'inc_i_medianpti_RIOI',
 'inc_i_iqrpti_RIOI',
 'inc_i_meanptrx_SEI',
 'inc_i_sdptrx_SEI',
 'inc_i_meanpti_SEI',
 'inc_i_sdpti_SEI',
 'inc_i_medianpti_SEI',
 'inc_i_iqrpti_SEI',
 'inc_i_dom']

In [10]:
cols_keep = ['hh_ids','m_ids_owner','inc_i_unique_sources', 'inc_i_minpti','inc_i_meanpti','inc_i_sdpti','inc_i_maxpti','inc_i_meanpti_AGRI','inc_i_sdpti_AGRI','inc_i_meanpti_CITMPC','inc_i_sdpti_CITMPC', 'inc_i_meanpti_NEINCG','inc_i_sdpti_NEINCG','inc_i_meanpti_REI', 'inc_i_sdpti_REI','inc_i_meanpti_RIOI', 'inc_i_sdpti_RIOI','inc_i_meanpti_SEI', 'inc_i_sdpti_SEI', 'inc_i_dom']

In [11]:
cols_keep

['hh_ids',
 'm_ids_owner',
 'inc_i_unique_sources',
 'inc_i_minpti',
 'inc_i_meanpti',
 'inc_i_sdpti',
 'inc_i_maxpti',
 'inc_i_meanpti_AGRI',
 'inc_i_sdpti_AGRI',
 'inc_i_meanpti_CITMPC',
 'inc_i_sdpti_CITMPC',
 'inc_i_meanpti_NEINCG',
 'inc_i_sdpti_NEINCG',
 'inc_i_meanpti_REI',
 'inc_i_sdpti_REI',
 'inc_i_meanpti_RIOI',
 'inc_i_sdpti_RIOI',
 'inc_i_meanpti_SEI',
 'inc_i_sdpti_SEI',
 'inc_i_dom']

In [12]:
inc = inc[cols_keep]

In [13]:
inc[inc["inc_i_sdpti"].isnull()]

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
15,KELDK17,56134329365500000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,5.882353,NaN,0.000000,NaN,RIOI
18,KELDK18,56134328845500000,1,28.235290,28.235290,NaN,28.235290,28.235290,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
30,KELDK25,HH,1,-23.529410,-23.529410,NaN,-23.529410,-23.529410,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
62,KELDL10,58134381695100000,1,0.823529,0.823529,NaN,0.823529,0.000000,NaN,0.823529,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
66,KELDL15,58134458139200000,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,2.352941,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
74,KELDS03,58134364537300000,1,7.058824,7.058824,NaN,7.058824,0.000000,NaN,7.058824,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
110,KELDS28,58135965540500000,1,7.058824,7.058824,NaN,7.058824,0.000000,NaN,7.058824,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
119,KMAKE08,63134364973600000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,5.882353,NaN,0.000000,NaN,RIOI
134,KMAKE17,63134372285300000,2,4.823529,4.823529,NaN,4.823529,4.823529,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
151,KMAKE33,63134398497100000,1,14.705880,14.705880,NaN,14.705880,0.000000,NaN,14.705880,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
167,KMAKL08,65134380761700000,1,2.352941,2.352941,NaN,2.352941,2.352941,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
174,KMAKL12,65134389716400000,1,2.941176,2.941176,NaN,2.941176,2.941176,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
177,KMAKL15,65134426843800000,1,23.529410,23.529410,NaN,23.529410,0.000000,NaN,0.000000,NaN,0.000000,NaN,23.52941,NaN,0.000000,NaN,0.000000,NaN,REI
181,KMAKL19,65134441978400000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,5.882353,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
185,KMAKL22,65134363948700000,2,38.235290,38.235290,NaN,38.235290,17.647060,NaN,20.588240,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
202,KMAKL37,65134396219600000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,5.882353,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
215,KMOMB03,57134398896300000,2,28.235290,28.235290,NaN,28.235290,0.000000,NaN,0.000000,NaN,0.000000,NaN,25.88235,NaN,0.000000,NaN,2.352941,NaN,REI
220,KMOMB04,57134363349500000,1,17.647060,17.647060,NaN,17.647060,0.000000,NaN,0.000000,NaN,17.647060,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
222,KMOMB05,57134408521700000,1,-5.294117,-5.294117,NaN,-5.294117,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,-5.294117,NaN,RIOI
224,KMOMB05,57134408946700000,1,6.117647,6.117647,NaN,6.117647,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,6.117647,NaN,0.000000,NaN,RIOI
227,KMOMB06,57134295207400000,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,0.000000,NaN,2.352941,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
232,KMOMB10,57137334806700000,1,4.705883,4.705883,NaN,4.705883,0.000000,NaN,0.000000,NaN,4.705883,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
235,KMOMB14,57134305609900000,1,35.294120,35.294120,NaN,35.294120,0.000000,NaN,0.000000,NaN,35.294120,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
239,KMOMB16,57134296189900000,1,9.411765,9.411765,NaN,9.411765,0.000000,NaN,0.000000,NaN,9.411765,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
240,KMOMB16,57134296459600000,1,82.352940,82.352940,NaN,82.352940,0.000000,NaN,0.000000,NaN,82.352940,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
242,KMOMB16,HH,2,46.117650,46.117650,NaN,46.117650,0.000000,NaN,0.000000,NaN,9.411765,NaN,0.00000,NaN,36.705880,NaN,0.000000,NaN,RIOI
244,KMOMB17,57134365707800000,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,0.000000,NaN,2.352941,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
252,KMOMB22,57136117645700000,1,5.294118,5.294118,NaN,5.294118,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,5.294118,NaN,SEI
259,KMOMK01,61135730036000000,1,17.647060,17.647060,NaN,17.647060,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,17.647060,NaN,SEI
269,KMOMK08,61134363286800000,1,588.235300,588.235300,NaN,588.235300,0.000000,NaN,0.000000,NaN,0.000000,NaN,588.23530,NaN,0.000000,NaN,0.000000,NaN,REI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,KNBOK01,79134743588500000,1,94.117650,94.117650,NaN,94.117650,0.000000,NaN,0.000000,NaN,94.117650,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
379,KNBOK03,64134408292500000,1,105.882400,105.882400,NaN,105.882400,0.000000,NaN,0.000000,NaN,105.882400,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
386,KNBOK06,64134398420500000,1,223.529400,223.529400,NaN,223.529400,0.000000,NaN,0.000000,NaN,0.000000,NaN,223.52940,NaN,0.000000,NaN,0.000000,NaN,REI
394,KNBOK16,89136315237400000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,5.882353,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
407,KNBOK26,89136489681100000,2,64.705880,64.705880,NaN,64.705880,0.000000,NaN,0.000000,NaN,0.000000,NaN,29.41176,NaN,35.294120,NaN,0.000000,NaN,RIOI
447,KNBOM22,62134347918700000,1,23.529410,23.529410,NaN,23.529410,0.000000,NaN,0.000000,NaN,23.529410,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
454,KNBOM31,62134347100000000,1,20.000000,20.000000,NaN,20.000000,0.000000,NaN,0.000000,NaN,20.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
458,KNBOM33,62134427055700000,1,4.117647,4.117647,NaN,4.117647,0.000000,NaN,4.117647,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
460,KNBOM36,62137360940700000,1,29.411760,29.411760,NaN,29.411760,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,29.411760,NaN,0.000000,NaN,RIOI
461,KNBOM36,62138138642000000,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,2.352941,NaN,SEI
483,KVIHC08,59134398835800000,0,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
494,KVIHC13,59134372098700000,1,4.941176,4.941176,NaN,4.941176,4.941176,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
498,KVIHC14,HH,1,3.529412,3.529412,NaN,3.529412,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,3.529412,NaN,0.000000,NaN,RIOI
501,KVIHC16,59134423954300000,1,0.352941,0.352941,NaN,0.352941,0.352941,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
509,KVIHC19,59134328466300000,1,-0.588235,-0.588235,NaN,-0.588235,-0.588235,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
522,KVIHC22,HH,1,3.529412,3.529412,NaN,3.529412,3.529412,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
524,KVIHC23,59134391227800000,1,-4.705883,-4.705883,NaN,-4.705883,-4.705883,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
527,KVIHC25,59134364403200000,1,4.705883,4.705883,NaN,4.705883,0.000000,NaN,4.705883,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
532,KVIHC26,59134330102500000,1,23.529410,23.529410,NaN,23.529410,0.000000,NaN,23.529410,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
541,KVIHC31,HH,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,2.352941,NaN,0.000000,NaN,RIOI
545,KVIHC33,59134338069600000,1,17.647060,17.647060,NaN,17.647060,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,17.647060,NaN,0.000000,NaN,RIOI
550,KVIHC35,HH,1,-58.823530,-58.823530,NaN,-58.823530,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,-58.823530,NaN,RIOI
560,KVIHK07,60134319997900000,3,46.117650,46.117650,NaN,46.117650,11.764710,NaN,7.294118,NaN,0.000000,NaN,0.00000,NaN,27.058820,NaN,0.000000,NaN,RIOI
570,KVIHK13,60134399003700000,1,2.352941,2.352941,NaN,2.352941,2.352941,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
580,KVIHK17,60134382470000000,1,1.764706,1.764706,NaN,1.764706,0.000000,NaN,1.764706,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
589,KVIHK20,HH,1,-38.823530,-38.823530,NaN,-38.823530,-38.823530,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
600,KVIHK24,HH,1,0.705882,0.705882,NaN,0.705882,0.000000,NaN,0.000000,NaN,0.705882,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
602,KVIHK26,HH,1,35.294120,35.294120,NaN,35.294120,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,35.294120,NaN,0.000000,NaN,RIOI
605,KVIHK29,60134363207500000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,5.882353,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
622,KVIHK38,60134406421700000,1,23.529410,23.529410,NaN,23.529410,0.000000,NaN,23.529410,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC

## Let's import the demographics dataset.

### We will use this to find the individuals that correspond to each household.

In [16]:
demo = pd.read_csv("../../Notebooks/aux_data/demo_ind.csv",dtype={"m_ids":str})

In [17]:
demo.head()

,hh_ids,m_ids,dem_i_male,dem_i_age_yrs,dem_i_age_5yrgrp,dem_i_age_workage,dem_i_relhead,dem_i_hhead,dem_i_marstat,dem_i_tribe,dem_i_children_tot,dem_i_children_inhh
0,KELDK01,56134392820800000,Female,8,[5 - 10),0,Son or daughter,0,Never married/lived together,Kalenjin,NaN,NaN
1,KELDK01,56134390476100000,Male,30,[30 - 35),1,Household head,1,Married/living together,Kalenjin,2.0,0.0
2,KELDK01,56134392826900000,Male,2,[0 - 5),0,Son or daughter,0,Never married/lived together,Kalenjin,NaN,NaN
3,KELDK01,56134390654900000,Female,24,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,2.0,0.0
4,KELDK02,56134389772300000,Female,35,[35 - 40),1,Husband or wife,0,Married/living together,Luhya,1.0,1.0

### all individual ids in the demographics dataset.

In [18]:
ids_demo = set(demo["m_ids"].unique())

### all individuals that have an individual income

In [19]:
ids_inc = set(inc["m_ids_owner"].unique())
ids_inc.remove("HH")

## Let's see if some people have several incomes.

In [20]:
inc["m_ids_owner"].value_counts().value_counts()

1     565
66      1
Name: m_ids_owner, dtype: int64

In [21]:
(inc["m_ids_owner"].value_counts()>1).value_counts()

False    565
True       1
Name: m_ids_owner, dtype: int64

In [22]:
inc[inc["m_ids_owner"]=="HH"].shape

(66, 20)

### It seems like only the "HH" individual id appears several times.

# Let's compute the number of working people for all the households that have a household income.

## Since there is a column in the demographics dataset that indicates whether a person is of working age, we will use this.

### Let's first save a new dataframe from income that only has the household incomes.

In [23]:
hh_inc = inc[inc["m_ids_owner"]=="HH"].copy()

In [24]:
hh_inc.shape

(66, 20)

### Now we save all household ids that are associated to a household that has a household income.

In [25]:
hh_inc_ids = set(inc[inc["m_ids_owner"]=="HH"]["hh_ids"].unique())

In [26]:
len(hh_inc_ids)

66

### at most one hh income per hh, that is good.

## Now we reduce the demographics dataset to all individuals that are associated to a household income and are of working age.

In [27]:
hh_inc_demo = demo[(demo["hh_ids"].isin(hh_inc_ids))&(demo["dem_i_age_workage"]==1)].copy()

In [28]:
len(hh_inc_demo["hh_ids"].unique())

66

### Nice we have all hh that have a hh income in the demo dataset.

### the number of individuals that have a household income:

In [29]:
len(hh_inc_demo["m_ids"].unique())

189

## We only keep the hh id and the individual id from the individuals that have a household income and are of working age.

In [30]:
hh_inc_demo = hh_inc_demo[["hh_ids","m_ids"]].copy()

In [31]:
hh_inc_demo.shape

(189, 2)

## The column "num_pp_hh" will record how many working people live in the households that have a household income.

In [32]:
hh_inc_demo.insert(hh_inc_demo.shape[1],"num_pp_hh",np.zeros(hh_inc_demo.shape[0]))

## What is the distribution of the number of pp per household with household income?

In [33]:
hh_inc_demo["hh_ids"].value_counts().value_counts()

2    24
3    19
4    12
1     6
6     3
7     1
5     1
Name: hh_ids, dtype: int64

### Here we save the number of pp per household.

In [34]:
for index,row in hh_inc_demo.iterrows():
    hh_inc_demo.at[index,"num_pp_hh"] = hh_inc_demo["hh_ids"].value_counts()[row["hh_ids"]]

### Let's check if it looks right.

In [35]:
hh_inc_demo[hh_inc_demo["hh_ids"]=="KMOMT15"]

      hh_ids              m_ids  num_pp_hh
885  KMOMT15  61134399522100000        7.0
886  KMOMT15  61134477018700000        7.0
887  KMOMT15  61134520740000000        7.0
889  KMOMT15  61134474659700000        7.0
892  KMOMT15  61134399962500000        7.0
894  KMOMT15  61134399881000000        7.0
898  KMOMT15  61134437317700000        7.0

## Values match up, that's good. (these are the ones from before * themselves)

In [36]:
hh_inc_demo["num_pp_hh"].value_counts()

3.0    57
4.0    48
2.0    48
6.0    18
7.0     7
1.0     6
5.0     5
Name: num_pp_hh, dtype: int64

## New dataframe for all the individuals that are matched to a hh income.

In [37]:
hh_ind_inc = hh_inc_demo.copy()

In [38]:
hh_ind_inc.head()

      hh_ids               m_ids  num_pp_hh
79   KELDK25   56134363834500000        1.0
162  KELDS01   58134441503200000        3.0
163  KELDS01   58134441196400000        3.0
164  KELDS01  108136868079500000        3.0
263  KELDS23  108136932369600000        2.0

In [39]:
hh_ind_inc.shape

(189, 3)

### We will now add to this all the columns that also are in the income dataset.

In [40]:
cols = list(inc.columns)
cols.remove("hh_ids")
cols.remove("m_ids_owner")

In [41]:
cols

['inc_i_unique_sources',
 'inc_i_minpti',
 'inc_i_meanpti',
 'inc_i_sdpti',
 'inc_i_maxpti',
 'inc_i_meanpti_AGRI',
 'inc_i_sdpti_AGRI',
 'inc_i_meanpti_CITMPC',
 'inc_i_sdpti_CITMPC',
 'inc_i_meanpti_NEINCG',
 'inc_i_sdpti_NEINCG',
 'inc_i_meanpti_REI',
 'inc_i_sdpti_REI',
 'inc_i_meanpti_RIOI',
 'inc_i_sdpti_RIOI',
 'inc_i_meanpti_SEI',
 'inc_i_sdpti_SEI',
 'inc_i_dom']

In [42]:
for col in cols:
    if col == "inc_i_dom":
        continue
    hh_ind_inc.insert(hh_ind_inc.shape[1],col,np.zeros(hh_ind_inc.shape[0]))

In [43]:
hh_ind_inc.insert(hh_ind_inc.shape[1],"inc_i_dom",["-"]*hh_ind_inc.shape[0])

In [44]:
hh_ind_inc.head()

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
79,KELDK25,56134363834500000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
162,KELDS01,58134441503200000,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
163,KELDS01,58134441196400000,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
164,KELDS01,108136868079500000,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
263,KELDS23,108136932369600000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-

### numerical columns

In [45]:
ncols = cols.copy()

In [46]:
ncols.remove("inc_i_dom")
ncols.remove("inc_i_unique_sources")

In [47]:
sdcols=ncols.copy()

In [48]:
for i in sdcols:
    if "sd" not in i:
        sdcols.remove(i)
sdcols

['inc_i_meanpti',
 'inc_i_sdpti',
 'inc_i_meanpti_AGRI',
 'inc_i_sdpti_AGRI',
 'inc_i_sdpti_CITMPC',
 'inc_i_sdpti_NEINCG',
 'inc_i_sdpti_REI',
 'inc_i_sdpti_RIOI',
 'inc_i_sdpti_SEI']

In [49]:
mcols = ncols.copy()
for i in sdcols:
    mcols.remove(i)
mcols

['inc_i_minpti',
 'inc_i_maxpti',
 'inc_i_meanpti_CITMPC',
 'inc_i_meanpti_NEINCG',
 'inc_i_meanpti_REI',
 'inc_i_meanpti_RIOI',
 'inc_i_meanpti_SEI']

In [50]:
meancols = ['inc_i_meanpti_AGRI',
 'inc_i_meanpti_CITMPC',
 'inc_i_meanpti_NEINCG',
 'inc_i_meanpti_REI',
 'inc_i_meanpti_RIOI',
 'inc_i_meanpti_SEI']

In [51]:
inc_sources = ["AGRI","CITMPC","NEINCG","REI","RIOI","SEI"]

### Now we can edit the entries in the hh_ind_inc dataset to be the values of the household income divided by the number of people in the household.

In [52]:
for index,row in hh_ind_inc.iterrows():
    if hh_inc[hh_inc["hh_ids"]==row["hh_ids"]].shape[0]>1:
        print("Error")
    else:
        hh_ind_inc.at[index,"inc_i_unique_sources"] = hh_inc[hh_inc["hh_ids"]==row["hh_ids"]]["inc_i_unique_sources"].values[0]
        hh_ind_inc.at[index,"inc_i_dom"] = hh_inc[hh_inc["hh_ids"]==row["hh_ids"]]["inc_i_dom"].values[0]
    
    for col in mcols:
        hh_ind_inc.at[index,col] = hh_inc[hh_inc["hh_ids"]==row["hh_ids"]][col].values[0]/row["num_pp_hh"]
    
    for col in sdcols:
        hh_ind_inc.at[index,col] = hh_inc[hh_inc["hh_ids"]==row["hh_ids"]][col].values[0]/row["num_pp_hh"]

# Testing

In [53]:
count = 0
for count in range(0,10):
    print(count)
    hh = rd.choice(hh_ind_inc["hh_ids"].unique())
    display(inc[inc["hh_ids"]==hh])
    display(hh_ind_inc[hh_ind_inc["hh_ids"]==hh])
    count +=1

0

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
488,KVIHC10,59134337065400000,2,1.764706,19.89305,11.70058,32.352940,0.0,0.0000,19.94652,11.62236,0.0,0.0,0.0,0.0,0.0,0.0,-0.053476,0.17736,CITMPC
489,KVIHC10,59134337347700000,1,1.176471,46.49020,17.54830,66.705890,0.0,0.0000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,46.490200,17.54830,SEI
490,KVIHC10,HH,1,-36.470590,-14.50000,14.66060,-6.470589,-14.5,14.6606,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1250,KVIHC10,59134337065400000,2.0,1.0,-18.235295,-7.25,7.3303,-3.235295,-7.25,7.3303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI
1253,KVIHC10,59134337347700000,2.0,1.0,-18.235295,-7.25,7.3303,-3.235295,-7.25,7.3303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

1

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
523,KVIHC23,59134391035200000,3,21.176470,92.915690,50.42559,159.529400,0.509804,1.24876,70.34706,53.14093,0.0,0.0,0.0,0.0,0.0,0.0,22.05882,32.06773,CITMPC
524,KVIHC23,59134391227800000,1,-4.705883,-4.705883,NaN,-4.705883,-4.705883,NaN,0.00000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.00000,NaN,SEI
525,KVIHC23,HH,3,-115.352900,178.790600,153.25500,409.388200,1.576471,25.30790,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,177.21410,146.59150,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1324,KVIHC23,59134391227800000,2.0,3.0,-57.67645,89.3953,76.6275,204.6941,0.788235,12.65395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.60705,73.29575,SEI
1325,KVIHC23,59134391035200000,2.0,3.0,-57.67645,89.3953,76.6275,204.6941,0.788235,12.65395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.60705,73.29575,SEI

2

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
512,KVIHC20,59134389987000000,2,-2.352941,8.426471,6.642911,18.82353,8.426471,6.642911,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,AGRI
513,KVIHC20,59134390309500000,4,3.529412,42.635290,36.334730,106.94120,0.000000,0.000000,34.94117,34.19778,0.0,0.0,0.0,0.0,2.352941,7.440653,5.341177,8.036288,CITMPC
514,KVIHC20,HH,3,-12.941180,14.909090,19.169330,56.58823,14.909090,19.169330,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,AGRI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1305,KVIHC20,59134390178600000,3.0,3.0,-4.313727,4.969697,6.389777,18.862743,4.969697,6.389777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1306,KVIHC20,59134389987000000,3.0,3.0,-4.313727,4.969697,6.389777,18.862743,4.969697,6.389777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1309,KVIHC20,59134390309500000,3.0,3.0,-4.313727,4.969697,6.389777,18.862743,4.969697,6.389777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

3

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
563,KVIHK09,60134451225400000,1,-30.105880,-17.174510,9.639597,-7.058824,-17.174510,9.639597,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI
564,KVIHK09,60134570907800000,1,1.176471,6.764706,4.742505,11.764710,0.000000,0.000000,6.764706,4.742505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
565,KVIHK09,HH,1,0.117647,3.529412,3.411765,6.941177,3.529412,3.411765,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1416,KVIHK09,60134570806400000,4.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1418,KVIHK09,60134451677200000,4.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1419,KVIHK09,60134570907800000,4.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1420,KVIHK09,60134451233900000,4.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

4

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
574,KVIHK15,60134381014900000,1,-1.058824,12.308820,8.326656,25.882350,12.308820,8.326656,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,AGRI
575,KVIHK15,60134381261200000,1,-1.705882,1.776470,1.752047,3.647059,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.77647,1.752047,SEI
576,KVIHK15,HH,2,-2.352941,-0.392157,1.698089,0.588235,-0.784314,1.358471,0.0,0.0,0.0,0.0,0.0,0.0,0.392157,0.339618,0.00000,0.000000,RIOI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1449,KVIHK15,60136194901100000,1.0,2.0,-2.352941,-0.392157,1.698089,0.588235,-0.784314,1.358471,0.0,0.0,0.0,0.0,0.0,0.0,0.392157,0.339618,0.0,0.0,RIOI

5

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
138,KMAKE23,63134432906200000,1,87.05882,136.36360,41.30218,220.000000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,136.36360,41.30218,SEI
139,KMAKE23,63134433360400000,2,-44.85883,53.84064,61.35237,191.000000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.84064,61.35237,SEI
140,KMAKE23,HH,1,-110.82350,-20.95798,39.76995,-2.352941,-20.95798,39.76995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
365,KMAKE23,63134432906200000,2.0,1.0,-55.41175,-10.47899,19.884975,-1.17647,-10.47899,19.884975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI
369,KMAKE23,63134433360400000,2.0,1.0,-55.41175,-10.47899,19.884975,-1.17647,-10.47899,19.884975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

6

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
563,KVIHK09,60134451225400000,1,-30.105880,-17.174510,9.639597,-7.058824,-17.174510,9.639597,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI
564,KVIHK09,60134570907800000,1,1.176471,6.764706,4.742505,11.764710,0.000000,0.000000,6.764706,4.742505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
565,KVIHK09,HH,1,0.117647,3.529412,3.411765,6.941177,3.529412,3.411765,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1416,KVIHK09,60134570806400000,4.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1418,KVIHK09,60134451677200000,4.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1419,KVIHK09,60134570907800000,4.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1420,KVIHK09,60134451233900000,4.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

7

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
494,KVIHC13,59134372098700000,1,4.941176,4.941176,NaN,4.941176,4.941176,NaN,0.00000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,AGRI
495,KVIHC13,59134372493300000,4,-77.329410,71.283420,72.39522,235.294100,30.836360,80.68483,40.44706,32.24449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
496,KVIHC13,HH,3,-42.588230,-6.718955,17.68344,18.823530,-6.718955,17.68344,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1261,KVIHC13,59134372308300000,3.0,3.0,-14.196077,-2.239652,5.89448,6.27451,-2.239652,5.89448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI
1264,KVIHC13,59134372098700000,3.0,3.0,-14.196077,-2.239652,5.89448,6.27451,-2.239652,5.89448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI
1271,KVIHC13,59134372493300000,3.0,3.0,-14.196077,-2.239652,5.89448,6.27451,-2.239652,5.89448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

8

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
121,KMAKE09,63134390012700000,3,-24.705880,19.90353,34.37992,63.52942,19.19765,35.34905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.705882,2.232196,AGRI
122,KMAKE09,HH,1,1.647059,23.17647,16.53570,52.47059,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.176470,16.535700,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
314,KMAKE09,63134390012700000,4.0,1.0,0.411765,5.794118,4.133925,13.117648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.794118,4.133925,SEI
316,KMAKE09,63134390200000000,4.0,1.0,0.411765,5.794118,4.133925,13.117648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.794118,4.133925,SEI
317,KMAKE09,63134390141900000,4.0,1.0,0.411765,5.794118,4.133925,13.117648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.794118,4.133925,SEI
318,KMAKE09,63134389911000000,4.0,1.0,0.411765,5.794118,4.133925,13.117648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.794118,4.133925,SEI

9

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
483,KVIHC08,59134398835800000,0,0.000000,0.00000,NaN,0.00000,0.000000,NaN,0.000000,NaN,0.0,NaN,0.00000,NaN,0.000000,NaN,0.0,NaN,SEI
484,KVIHC08,59134399259500000,2,2.352941,18.67647,16.956250,35.29412,0.000000,0.000000,4.558824,7.630072,0.0,0.0,14.11765,15.45914,0.000000,0.000000,0.0,0.0,REI
485,KVIHC08,59134399421400000,6,10.588240,38.36601,25.257800,90.70589,0.653595,1.960784,37.712420,23.766170,0.0,0.0,0.00000,0.00000,0.000000,0.000000,0.0,0.0,CITMPC
486,KVIHC08,HH,6,-11.176470,4.02353,7.638467,16.94118,2.764706,7.032248,0.000000,0.000000,0.0,0.0,0.00000,0.00000,1.258824,2.729395,0.0,0.0,AGRI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1239,KVIHC08,59134399421400000,2.0,6.0,-5.588235,2.011765,3.819233,8.47059,1.382353,3.516124,0.0,0.0,0.0,0.0,0.0,0.0,0.629412,1.364698,0.0,0.0,AGRI
1243,KVIHC08,59134399259500000,2.0,6.0,-5.588235,2.011765,3.819233,8.47059,1.382353,3.516124,0.0,0.0,0.0,0.0,0.0,0.0,0.629412,1.364698,0.0,0.0,AGRI

### This all looks good.

# Make column that shows if a person has a household income.

In [54]:
hh_ind_inc.insert(3,"hh_income",np.ones(hh_ind_inc.shape[0]))

In [55]:
hh_ind_inc.head()

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
79,KELDK25,56134363834500000,1.0,1.0,1.0,-23.529410,-23.529410,NaN,-23.52941,-23.529410,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.00000,NaN,0.0,NaN,SEI
162,KELDS01,58134441503200000,3.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.54902,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,SEI
163,KELDS01,58134441196400000,3.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.54902,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,SEI
164,KELDS01,108136868079500000,3.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.54902,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,SEI
263,KELDS23,108136932369600000,2.0,1.0,1.0,28.235295,36.176470,11.230520,44.11765,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,36.17647,11.23052,0.0,0.0,RIOI

### We do the same in the income dataset without the hh incomes.

In [56]:
inc_ind_only = inc[inc["m_ids_owner"]!="HH"].copy()

In [57]:
inc_ind_only.shape

(565, 20)

In [58]:
inc.shape

(631, 20)

In [77]:
inc[inc["m_ids_owner"]=="HH"].shape

(66, 20)

In [78]:
inc_ind_only["m_ids_owner"].value_counts().value_counts()

1    565
Name: m_ids_owner, dtype: int64

In [79]:
inc_ind_only.head()

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,2,17.647060,103.11550,35.65044,137.23530,0.0,0.0,35.660960,22.606590,0.0,0.0,67.45454,26.98390,0.0,0.0,0.0000,0.0000,REI
1,KELDK02,56134389503000000,1,-1529.412000,356.43330,1037.63000,2001.17700,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,356.4333,1037.6300,SEI
2,KELDK08,56134410699600000,2,2.352941,30.01307,17.49300,51.88235,0.0,0.0,8.183006,7.638482,0.0,0.0,21.83006,17.44106,0.0,0.0,0.0000,0.0000,REI
3,KELDK08,56134410709700000,2,3.764706,25.14804,14.33156,41.17647,0.0,0.0,2.795098,4.155897,0.0,0.0,22.35294,17.06343,0.0,0.0,0.0000,0.0000,REI
4,KELDK09,56134329944600000,2,-2.352941,123.48660,138.51580,434.11760,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,123.4866,138.5158,SEI

In [80]:
inc_ind_only.insert(2,"hh_income",np.zeros(inc_ind_only.shape[0]))

In [81]:
inc_ind_only.head()

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,0.0,2,17.647060,103.11550,35.65044,137.23530,0.0,0.0,35.660960,22.606590,0.0,0.0,67.45454,26.98390,0.0,0.0,0.0000,0.0000,REI
1,KELDK02,56134389503000000,0.0,1,-1529.412000,356.43330,1037.63000,2001.17700,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,356.4333,1037.6300,SEI
2,KELDK08,56134410699600000,0.0,2,2.352941,30.01307,17.49300,51.88235,0.0,0.0,8.183006,7.638482,0.0,0.0,21.83006,17.44106,0.0,0.0,0.0000,0.0000,REI
3,KELDK08,56134410709700000,0.0,2,3.764706,25.14804,14.33156,41.17647,0.0,0.0,2.795098,4.155897,0.0,0.0,22.35294,17.06343,0.0,0.0,0.0000,0.0000,REI
4,KELDK09,56134329944600000,0.0,2,-2.352941,123.48660,138.51580,434.11760,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,123.4866,138.5158,SEI

# Now for each individual that has income from the household and an individual income, we need to add the two rows, and adjust the number of income types and the main income. Also the column "hh_income" should be set 1 for all of these.

In [82]:
#we will remove from this list all people that also have an individual income.
ind_only_hh_inc = list(hh_inc_demo["m_ids"].unique()).copy()
index_ind_inc = 0

for index,row in hh_ind_inc.iterrows():
    if row["m_ids"] in inc_ind_only["m_ids_owner"].unique():
        ind_only_hh_inc.remove(row["m_ids"])
        index_ind_inc = inc_ind_only[inc_ind_only["m_ids_owner"]==row["m_ids"]].index[0]
        #removed dominant source, will add later
#        dom_ind_inc = inc_ind_only.loc[index_ind_inc,"inc_i_dom"]
#        dom_hh_inc = row["inc_i_dom"]
#        if row["inc_i_meanpti_"+dom_hh_inc] > inc_ind_only.loc[index_ind_inc,"inc_i_meanpti_"+dom_ind_inc]:
#            inc_ind_only.at[index_ind_inc,"inc_i_dom"] = row["inc_i_dom"]
#        else:
#            inc_ind_only.at[index_ind_inc,"inc_i_dom"] = dom_ind_inc
            
        # sum up for all the numerical columns
        for col in ncols:
            ind_part = inc_ind_only.loc[index_ind_inc,col]
            inc_ind_only.at[index_ind_inc,col] =  ind_part + row[col]
        
        #removed number of income sources, will add later
        #number of income sources
        #c = 0
        #for source in inc_sources:
        #    if inc_ind_only.loc[index_ind_inc,"inc_i_meanpti_"+source] !=0 or inc_ind_only.loc[index_ind_inc,"inc_i_sdpti_"+source] !=0:
        #        c +=1
        #
        #inc_ind_only.at[index_ind_inc,"inc_i_unique_sources"]=c
        #
        inc_ind_only.at[index_ind_inc,"hh_income"]=1

In [83]:
for count in range(0,5):
    print(count)
    indi = rd.choice(hh_ind_inc["m_ids"].unique())
    hh = demo[demo["m_ids"]==indi]["hh_ids"].values[0]
    display(inc[inc["m_ids_owner"]==indi])
    display(inc[inc["hh_ids"]==hh])
    display(hh_ind_inc[hh_ind_inc["m_ids"]==indi])
    display(inc_ind_only[inc_ind_only["m_ids_owner"]==indi])

0

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
148,KMAKE32,63134380563500000,3,1.764706,26.20588,14.46664,50.94118,0.0,0.0,22.28431,13.00398,0.0,0.0,0.0,0.0,0.0,0.0,3.921569,2.762866,CITMPC

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
148,KMAKE32,63134380563500000,3,1.764706,26.20588,14.46664,50.94118,0.0,0.0,22.28431,13.00398,0.00000,0.00000,0.0,0.0,0.0,0.0,3.921569,2.762866,CITMPC
149,KMAKE32,HH,1,3.882353,16.98039,11.34323,23.52941,0.0,0.0,0.00000,0.00000,16.98039,11.34323,0.0,0.0,0.0,0.0,0.000000,0.000000,NEINCG

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
395,KMAKE32,63134380563500000,3.0,1.0,1.0,1.294118,5.66013,3.781077,7.843137,0.0,0.0,0.0,0.0,5.66013,3.781077,0.0,0.0,0.0,0.0,0.0,0.0,NEINCG

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
148,KMAKE32,63134380563500000,1.0,3,3.058824,31.86601,18.247717,58.784317,0.0,0.0,22.28431,13.00398,5.66013,3.781077,0.0,0.0,0.0,0.0,3.921569,2.762866,CITMPC

1

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
155,KMAKE35,63134338421700000,2,0.588235,14.78431,9.962791,38.23529,0.0,0.0,11.40196,11.34497,0.0,0.0,0.0,0.0,0.0,0.0,3.382353,3.637602,CITMPC

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
155,KMAKE35,63134338421700000,2,0.588235,14.784310,9.962791,38.23529,0.0,0.0,11.40196,11.34497,0.000000,0.000000,0.0,0.0,0.0,0.0,3.382353,3.637602,CITMPC
156,KMAKE35,HH,1,2.352941,7.529412,4.862113,12.00000,0.0,0.0,0.00000,0.00000,7.529412,4.862113,0.0,0.0,0.0,0.0,0.000000,0.000000,NEINCG

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
414,KMAKE35,63134338421700000,3.0,1.0,1.0,0.784314,2.509804,1.620704,4.0,0.0,0.0,0.0,0.0,2.509804,1.620704,0.0,0.0,0.0,0.0,0.0,0.0,NEINCG

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
155,KMAKE35,63134338421700000,1.0,2,1.372549,17.294114,11.583495,42.23529,0.0,0.0,11.40196,11.34497,2.509804,1.620704,0.0,0.0,0.0,0.0,3.382353,3.637602,CITMPC

2

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
609,KVIHK30,60134322152600000,5,1.176471,2.993464,1.767753,5.294118,0.000000,0.000000,2.797386,2.003265,0.196078,0.588235,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
610,KVIHK30,60134322391300000,1,1.176471,2.352941,1.663781,3.529412,2.352941,1.663781,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
611,KVIHK30,HH,1,-50.588230,-27.137250,20.431790,-13.176470,-27.137250,20.431790,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1512,KVIHK30,60135227681100000,3.0,1.0,1.0,-16.862743,-9.04575,6.810597,-4.392157,-9.04575,6.810597,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

3

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
609,KVIHK30,60134322152600000,5,1.176471,2.993464,1.767753,5.294118,0.000000,0.000000,2.797386,2.003265,0.196078,0.588235,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
610,KVIHK30,60134322391300000,1,1.176471,2.352941,1.663781,3.529412,2.352941,1.663781,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
611,KVIHK30,HH,1,-50.588230,-27.137250,20.431790,-13.176470,-27.137250,20.431790,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1512,KVIHK30,60135227681100000,3.0,1.0,1.0,-16.862743,-9.04575,6.810597,-4.392157,-9.04575,6.810597,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

4

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
262,KMOMK03,61134406903600000,5,1.176471,62.68908,59.85262,164.7059,0.0,0.0,33.61345,49.29892,0.0,0.0,0.0,0.0,29.07563,34.39853,0.0,0.0,CITMPC

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
260,KMOMK03,61134406243400000,9,-186.823500,120.08660,151.47810,393.09410,-20.17112,11.72447,0.00000,0.00000,0.0,0.0,0.0,0.0,0.00000,0.00000,140.25780,152.36310,SEI
261,KMOMK03,61134406652800000,3,-64.235290,25.43423,51.19101,130.35290,0.00000,0.00000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.00000,0.00000,25.43423,51.19101,SEI
262,KMOMK03,61134406903600000,5,1.176471,62.68908,59.85262,164.70590,0.00000,0.00000,33.61345,49.29892,0.0,0.0,0.0,0.0,29.07563,34.39853,0.00000,0.00000,CITMPC
263,KMOMK03,HH,4,8.235294,14.11765,10.12038,36.47059,0.00000,0.00000,0.00000,0.00000,0.0,0.0,0.0,0.0,14.11765,10.12038,0.00000,0.00000,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
711,KMOMK03,61134406903600000,4.0,1.0,4.0,2.058823,3.529412,2.530095,9.117648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.529412,2.530095,0.0,0.0,RIOI

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
262,KMOMK03,61134406903600000,1.0,5,3.235294,66.218493,62.382715,173.823548,0.0,0.0,33.61345,49.29892,0.0,0.0,0.0,0.0,32.605043,36.928625,0.0,0.0,CITMPC

# no intersection between only household incomes and those we already added to the income datatset

In [84]:
set(ind_only_hh_inc) & set(inc_ind_only["m_ids_owner"].unique())

set()

In [85]:
hh_ind_inc.shape

(189, 22)

In [86]:
hh_ind_inc_only = hh_ind_inc[hh_ind_inc["m_ids"].isin(set(ind_only_hh_inc))].copy()

In [87]:
hh_ind_inc_only.head()

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
163,KELDS01,58134441196400000,3.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.549020,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,SEI
263,KELDS23,108136932369600000,2.0,1.0,1.0,28.235295,36.176470,11.230520,44.117650,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,36.17647,11.230520,0.000000,0.000000,RIOI
271,KELDS26,58134466289300000,3.0,1.0,1.0,1.176471,4.176470,2.635508,9.411763,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,4.17647,2.635508,0.000000,0.000000,RIOI
301,KMAKE06,63134426010400000,4.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,24.263973,13.199635,SEI
302,KMAKE06,63134425969100000,4.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,24.263973,13.199635,SEI

In [88]:
hh_ind_inc_only.insert(4,"hh_income_only",np.ones(hh_ind_inc_only.shape[0]))

In [89]:
del hh_ind_inc_only["num_pp_hh"]

In [90]:
hh_ind_inc_only.shape

(78, 22)

In [91]:
hh_ind_inc_only = hh_ind_inc_only.rename(columns={"m_ids":"m_ids_owner"});

In [92]:
hh_ind_inc_only.head()

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
163,KELDS01,58134441196400000,1.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.549020,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,SEI
263,KELDS23,108136932369600000,1.0,1.0,1.0,28.235295,36.176470,11.230520,44.117650,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,36.17647,11.230520,0.000000,0.000000,RIOI
271,KELDS26,58134466289300000,1.0,1.0,1.0,1.176471,4.176470,2.635508,9.411763,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,4.17647,2.635508,0.000000,0.000000,RIOI
301,KMAKE06,63134426010400000,1.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,24.263973,13.199635,SEI
302,KMAKE06,63134425969100000,1.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,24.263973,13.199635,SEI

In [93]:
inc_ind_only.head()

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,0.0,2,17.647060,103.11550,35.65044,137.23530,0.0,0.0,35.660960,22.606590,0.0,0.0,67.45454,26.98390,0.0,0.0,0.0000,0.0000,REI
1,KELDK02,56134389503000000,0.0,1,-1529.412000,356.43330,1037.63000,2001.17700,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,356.4333,1037.6300,SEI
2,KELDK08,56134410699600000,0.0,2,2.352941,30.01307,17.49300,51.88235,0.0,0.0,8.183006,7.638482,0.0,0.0,21.83006,17.44106,0.0,0.0,0.0000,0.0000,REI
3,KELDK08,56134410709700000,0.0,2,3.764706,25.14804,14.33156,41.17647,0.0,0.0,2.795098,4.155897,0.0,0.0,22.35294,17.06343,0.0,0.0,0.0000,0.0000,REI
4,KELDK09,56134329944600000,0.0,2,-2.352941,123.48660,138.51580,434.11760,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,123.4866,138.5158,SEI

In [94]:
inc_ind_only["hh_income"].value_counts()

0.0    454
1.0    111
Name: hh_income, dtype: int64

In [95]:
inc_ind_only.insert(3,"hh_income_only",np.zeros(inc_ind_only.shape[0]))

In [96]:
inc_ind_only.shape

(565, 22)

In [97]:
inc_new = pd.concat([inc_ind_only,hh_ind_inc_only])

In [98]:
inc_new[inc_new["hh_income"]==1].sample(10)

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
354,KMOMT21,61134397892600000,1.0,0.0,9.0,2.666667,105.254900,62.758487,195.960743,-0.852941,5.430130,12.990197,14.984646,0.00000,0.00000,89.79411,50.42498,3.323529,3.113912,0.000000,0.000000,REI
339,KMOMT06,61134442309700000,1.0,0.0,3.0,11.176474,96.890754,NaN,233.529394,-1.764706,NaN,2.689076,NaN,0.00000,NaN,90.75630,NaN,5.210084,NaN,0.000000,NaN,REI
955,KMOMT32,61134469167600000,1.0,1.0,1.0,1.960785,3.921568,1.600974,5.882353,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,3.921568,1.600974,0.000000,0.000000,RIOI
1362,KVIHC32,59134379935600000,1.0,1.0,3.0,-2.000000,0.958824,2.984650,5.882353,-0.335294,1.235224,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,1.294118,2.577517,0.000000,0.000000,RIOI
1375,KVIHC34,59134380768900000,1.0,1.0,4.0,3.264705,18.036765,12.780000,29.411775,18.036765,12.780000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,AGRI
549,KVIHC35,59134311227800000,1.0,0.0,3.0,-345.019543,178.509857,NaN,434.274557,60.235300,NaN,0.000000,NaN,0.00000,NaN,0.00000,NaN,1.069519,NaN,117.204957,NaN,SEI
430,KNBOM03,62134391358700000,1.0,0.0,4.0,-17.890195,19.881897,23.301673,55.564707,0.000000,0.000000,5.392157,12.363670,0.00000,0.00000,0.00000,0.00000,0.196078,0.480292,14.293665,19.555365,CITMPC
518,KVIHC21,59134382783100000,1.0,0.0,1.0,1.529412,12.923528,10.975169,27.941180,0.147059,0.328834,5.658823,3.976652,0.00000,0.00000,0.00000,0.00000,7.117648,7.175505,0.000000,0.000000,CITMPC
707,KMOMK03,61136764430300000,1.0,1.0,4.0,2.058823,3.529412,2.530095,9.117648,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,3.529412,2.530095,0.000000,0.000000,RIOI
542,KVIHC32,59134379470300000,1.0,0.0,3.0,2.705883,44.096074,31.699930,96.470583,-0.335294,1.235224,6.143791,18.431370,30.71895,21.16376,0.00000,0.00000,7.568628,11.459675,0.000000,0.000000,NEINCG

In [99]:
inc_new.shape

(643, 22)

In [100]:
inc_new = inc_new.reset_index(drop=True)

In [101]:
inc_new.sample(10)

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
408,KNBOM11,62137761760800000,0.0,0.0,2.0,8.235294,14.862740,7.808329,23.470590,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,14.862740,7.808329,SEI
510,KVIHK09,60134451225400000,0.0,0.0,1.0,-30.105880,-17.174510,9.639597,-7.058824,-17.174510,9.639597,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,SEI
285,KMOMM03,57134321360600000,0.0,0.0,1.0,1.176471,6.764706,6.027618,15.294120,0.000000,0.000000,0.000000,0.000000,6.764706,6.027618,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,NEINCG
464,KVIHC14,59134319827600000,1.0,0.0,8.0,1.176471,42.610856,NaN,138.235306,4.085973,NaN,11.538460,NaN,2.895928,NaN,0.00000,NaN,21.837106,NaN,2.253394,NaN,RIOI
308,KMOMT01,61134424098700000,0.0,0.0,2.0,-14.117650,-5.882353,6.070520,1.764706,-6.235294,5.543162,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.352941,0.789200,SEI
195,KMOMB01,57136513184600000,0.0,0.0,2.0,1.176471,11.764710,12.725480,25.882350,0.000000,0.000000,0.000000,0.000000,11.764710,12.725480,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,NEINCG
120,KMAKE13,63134441573500000,1.0,0.0,1.0,23.735300,50.460786,21.733330,75.294115,0.000000,0.000000,46.470590,12.052600,0.000000,0.000000,6.27451,5.92144,0.000000,0.000000,-2.284313,3.956547,CITMPC
542,KVIHK29,60134363109500000,1.0,0.0,8.0,-3.529413,72.598035,59.008225,184.999977,20.558827,43.907565,14.215687,13.452939,0.000000,0.000000,0.00000,0.00000,5.686275,16.951230,32.137260,23.030090,SEI
627,KVIHC36,59134371740300000,1.0,1.0,4.0,-17.411765,-4.584967,6.981290,3.529412,-4.781046,7.000575,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.196078,0.415945,0.000000,0.000000,RIOI
243,KMOMK03,61134406243400000,1.0,0.0,9.0,-184.764677,123.616013,154.008195,402.211748,-20.171120,11.724470,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,3.529412,2.530095,140.257800,152.363100,SEI

In [102]:
inc_new.duplicated().value_counts()

False    643
dtype: int64

### The dominant income seems to be off. I will fix this now.

In [103]:
for index,row in inc_new.iterrows():
    #number of income sources
    c = 0
    #we save all sources the individual has
    sources_ind = set()
    for source in inc_sources:
        if not math.isnan(inc_new.loc[index,"inc_i_meanpti_"+source]):
            if (inc_new.loc[index,"inc_i_meanpti_"+source] !=0) or ((inc_new.loc[index,"inc_i_sdpti_"+source] != 0) and not (math.isnan(inc_new.loc[index,"inc_i_sdpti_"+source]))):
                    c +=1
                    sources_ind.add(source)
                    
            
    inc_new.at[index,"inc_i_unique_sources"]=c
    
    #dominant income source
    if len(sources_ind)==0:
        continue
    if len(sources_ind)==1:
        inc_new.at[index,"inc_i_dom"]=list(sources_ind)[0]
    else:
        mean_source = []
        for source in sources_ind:
            mean_source.append("inc_i_meanpti_"+source)
        
        maxi = inc_new[inc_new["m_ids_owner"]==row["m_ids_owner"]][mean_source].idxmax(axis=1)
        dom = maxi.values[0]

        inc_new.at[index,"inc_i_dom"] = dom[14:]

In [104]:
for count in range(0,5):
    print(count)
    indi = rd.choice(hh_ind_inc["m_ids"].unique())
    hh = demo[demo["m_ids"]==indi]["hh_ids"].values[0]
    display(inc[inc["m_ids_owner"]==indi])
    display(inc[inc["hh_ids"]==hh])
    display(hh_ind_inc[hh_ind_inc["m_ids"]==indi])
    display(inc_ind_only[inc_ind_only["m_ids_owner"]==indi])
    display(inc_new[inc_new["m_ids_owner"]==indi])

0

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
599,KVIHK24,60134372960800000,1,1.117647,4.098039,4.61318,9.411765,0.0,0.0,4.098039,4.61318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
598,KVIHK24,60134372586100000,7,-35.294120,-3.730392,18.70811,40.588230,-3.926471,18.64607,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.196078,0.679236,0.0,0.0,RIOI
599,KVIHK24,60134372960800000,1,1.117647,4.098039,4.61318,9.411765,0.000000,0.00000,4.098039,4.61318,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,CITMPC
600,KVIHK24,HH,1,0.705882,0.705882,NaN,0.705882,0.000000,NaN,0.000000,NaN,0.705882,NaN,0.0,NaN,0.000000,NaN,0.0,NaN,NEINCG

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1497,KVIHK24,60134372960800000,3.0,1.0,1.0,0.235294,0.235294,NaN,0.235294,0.0,NaN,0.0,NaN,0.235294,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NEINCG

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
599,KVIHK24,60134372960800000,1.0,0.0,1,1.352941,4.333333,NaN,9.647059,0.0,NaN,4.098039,NaN,0.235294,NaN,0.0,NaN,0.0,NaN,0.0,NaN,CITMPC

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
539,KVIHK24,60134372960800000,1.0,0.0,2.0,1.352941,4.333333,NaN,9.647059,0.0,NaN,4.098039,NaN,0.235294,NaN,0.0,NaN,0.0,NaN,0.0,NaN,CITMPC

1

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
505,KVIHC18,59134397868300000,5,-5.882353,23.17908,32.76828,100.3412,0.0,0.0,17.29804,29.26081,0.0,0.0,0.0,0.0,0.392157,1.176471,5.488889,11.44171,CITMPC

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
505,KVIHC18,59134397868300000,5,-5.882353,23.179080,32.768280,100.34120,0.000000,0.000000,17.29804,29.26081,0.00000,0.0,0.0,0.0,0.392157,1.176471,5.488889,11.44171,CITMPC
506,KVIHC18,59134405409900000,1,29.411760,29.411760,0.000000,29.41176,0.000000,0.000000,0.00000,0.00000,29.41176,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.00000,NEINCG
507,KVIHC18,HH,2,-7.058824,-0.352941,4.883416,4.82353,-0.352941,4.883416,0.00000,0.00000,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.00000,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1294,KVIHC18,59134397868300000,4.0,1.0,2.0,-1.764706,-0.088235,1.220854,1.205882,-0.088235,1.220854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
505,KVIHC18,59134397868300000,1.0,0.0,5,-7.647059,23.090845,33.989134,101.547083,-0.088235,1.220854,17.29804,29.26081,0.0,0.0,0.0,0.0,0.392157,1.176471,5.488889,11.44171,CITMPC

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
469,KVIHC18,59134397868300000,1.0,0.0,4.0,-7.647059,23.090845,33.989134,101.547083,-0.088235,1.220854,17.29804,29.26081,0.0,0.0,0.0,0.0,0.392157,1.176471,5.488889,11.44171,CITMPC

2

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
551,KVIHC36,59134371287500000,1,-10.82353,6.797386,12.34843,27.76471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.797386,12.34843,SEI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
551,KVIHC36,59134371287500000,1,-10.82353,6.797386,12.34843,27.764710,0.000000,0.00000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.000000,0.00000,6.797386,12.34843,SEI
552,KVIHC36,59134371497400000,2,12.00000,61.652940,83.06699,295.294100,0.000000,0.00000,0.0,0.0,61.65294,83.06699,0.0,0.0,0.000000,0.00000,0.000000,0.00000,NEINCG
553,KVIHC36,HH,4,-34.82353,-9.169934,13.96258,7.058824,-9.562092,14.00115,0.0,0.0,0.00000,0.00000,0.0,0.0,0.392157,0.83189,0.000000,0.00000,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1387,KVIHC36,59134371287500000,2.0,1.0,4.0,-17.411765,-4.584967,6.98129,3.529412,-4.781046,7.000575,0.0,0.0,0.0,0.0,0.0,0.0,0.196078,0.415945,0.0,0.0,RIOI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
551,KVIHC36,59134371287500000,1.0,0.0,1,-28.235295,2.212419,19.32972,31.294122,-4.781046,7.000575,0.0,0.0,0.0,0.0,0.0,0.0,0.196078,0.415945,6.797386,12.34843,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
501,KVIHC36,59134371287500000,1.0,0.0,3.0,-28.235295,2.212419,19.32972,31.294122,-4.781046,7.000575,0.0,0.0,0.0,0.0,0.0,0.0,0.196078,0.415945,6.797386,12.34843,SEI

3

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
125,KMAKE12,63134381158900000,3,-8.235294,6.823529,15.77875,49.41176,-1.176471,3.720327,3.294118,3.439374,0.0,0.0,0.0,0.0,0.0,0.0,4.705882,14.88131,SEI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
125,KMAKE12,63134381158900000,3,-8.235294,6.823529,15.778750,49.411760,-1.176471,3.720327,3.294118,3.439374,0.0,0.0,0.0,0.0,0.0,0.0,4.705882,14.88131,SEI
126,KMAKE12,63134381663300000,1,0.588235,3.794118,2.708986,9.411765,0.000000,0.000000,3.794118,2.708986,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,CITMPC
127,KMAKE12,HH,4,1.529412,17.331550,17.356200,63.647060,17.278080,17.344870,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.053476,0.17736,AGRI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
332,KMAKE12,63134381158900000,3.0,1.0,4.0,0.509804,5.777183,5.7854,21.215687,5.75936,5.781623,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.017825,0.05912,AGRI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
125,KMAKE12,63134381158900000,1.0,0.0,3,-7.72549,12.600712,21.56415,70.627447,4.582889,9.50195,3.294118,3.439374,0.0,0.0,0.0,0.0,0.0,0.0,4.723707,14.94043,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
118,KMAKE12,63134381158900000,1.0,0.0,3.0,-7.72549,12.600712,21.56415,70.627447,4.582889,9.50195,3.294118,3.439374,0.0,0.0,0.0,0.0,0.0,0.0,4.723707,14.94043,SEI

4

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
343,KMOMT15,61134399522100000,4,3.529412,18.49265,9.919096,31.17647,0.0,0.0,2.058824,5.823233,0.0,0.0,0.0,0.0,16.43382,9.29789,0.0,0.0,RIOI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
343,KMOMT15,61134399522100000,4,3.529412,18.492650,9.919096,31.176470,0.0,0.0,2.058824,5.823233,0.0,0.0,0.0,0.0,16.43382,9.29789,0.000000,0.000000,RIOI
344,KMOMT15,61134399881000000,1,1.058824,26.507350,20.065390,50.588230,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.00000,26.507350,20.065390,SEI
345,KMOMT15,61134437317700000,1,2.352941,8.235294,8.318903,14.117650,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.00000,8.235294,8.318903,SEI
346,KMOMT15,61134474659700000,1,8.235294,8.235294,NaN,8.235294,0.0,NaN,0.000000,NaN,0.0,NaN,0.0,NaN,0.00000,NaN,8.235294,NaN,SEI
347,KMOMT15,HH,1,7.058824,12.823530,10.960770,32.352940,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,12.82353,10.96077,0.000000,0.000000,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
885,KMOMT15,61134399522100000,7.0,1.0,1.0,1.008403,1.831933,1.565824,4.621849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.831933,1.565824,0.0,0.0,RIOI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
343,KMOMT15,61134399522100000,1.0,0.0,4,4.537815,20.324583,11.48492,35.798319,0.0,0.0,2.058824,5.823233,0.0,0.0,0.0,0.0,18.265753,10.863714,0.0,0.0,RIOI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
320,KMOMT15,61134399522100000,1.0,0.0,2.0,4.537815,20.324583,11.48492,35.798319,0.0,0.0,2.058824,5.823233,0.0,0.0,0.0,0.0,18.265753,10.863714,0.0,0.0,RIOI

# To check for bugs we also look whether there are any "number of unique sources" larger than 6 (which is the max)

In [105]:
inc_new[inc_new["inc_i_unique_sources"]>4]

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
112,KMAKE07,63134363237200000,1.0,0.0,5.0,5.764706,27.662746,21.242590,76.470594,2.759804,9.266938,0.54902,1.758873,0.254902,0.883006,0.00000,0.00000,0.613725,1.949238,23.485292,20.112107,SEI
227,KMOMB17,57134365483700000,0.0,0.0,5.0,1.647059,87.229420,82.944790,225.647100,0.000000,0.000000,19.31765,28.277410,19.776470,32.355790,30.51765,49.41351,2.647059,6.719800,14.970590,30.443940,REI
299,KMOMM13,57134345619700000,1.0,0.0,5.0,14.117646,70.223535,50.708951,166.588195,0.000000,0.000000,37.74118,40.832130,2.411765,2.578860,16.47059,51.26316,3.388235,9.582247,10.211770,14.988660,CITMPC
333,KMOMT22,61134425330400000,0.0,0.0,5.0,4.705883,137.905900,133.835400,444.588200,-0.717647,1.843096,52.76471,54.080730,0.000000,0.000000,40.58823,83.39444,26.470590,46.833610,18.800000,20.741560,CITMPC
464,KVIHC14,59134319827600000,1.0,0.0,5.0,1.176471,42.610856,NaN,138.235306,4.085973,NaN,11.53846,NaN,2.895928,NaN,0.00000,NaN,21.837106,NaN,2.253394,NaN,RIOI

# Finally we make the last column into binary variables

In [106]:
inc_new["inc_i_dom"].isnull().value_counts()

False    643
Name: inc_i_dom, dtype: int64

In [107]:
pd.get_dummies(inc_new,prefix=["dom_inc"],columns=["inc_i_dom"])

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,dom_inc_AGRI,dom_inc_CITMPC,dom_inc_NEINCG,dom_inc_REI,dom_inc_RIOI,dom_inc_SEI
0,KELDK01,56134390476100000,0.0,0.0,2.0,17.647060,103.115500,35.650440,137.235300,0.000000,0.000000,35.660960,22.606590,0.000000,0.0,67.454540,26.983900,0.000000,0.000000,0.000000,0.000000,0,0,0,1,0,0
1,KELDK02,56134389503000000,0.0,0.0,1.0,-1529.412000,356.433300,1037.630000,2001.177000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,356.433300,1037.630000,0,0,0,0,0,1
2,KELDK08,56134410699600000,0.0,0.0,2.0,2.352941,30.013070,17.493000,51.882350,0.000000,0.000000,8.183006,7.638482,0.000000,0.0,21.830060,17.441060,0.000000,0.000000,0.000000,0.000000,0,0,0,1,0,0
3,KELDK08,56134410709700000,0.0,0.0,2.0,3.764706,25.148040,14.331560,41.176470,0.000000,0.000000,2.795098,4.155897,0.000000,0.0,22.352940,17.063430,0.000000,0.000000,0.000000,0.000000,0,0,0,1,0,0
4,KELDK09,56134329944600000,0.0,0.0,1.0,-2.352941,123.486600,138.515800,434.117600,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,123.486600,138.515800,0,0,0,0,0,1
5,KELDK10,56134337157200000,0.0,0.0,3.0,4.941178,78.686270,69.205870,202.352900,10.784310,37.357960,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,3.431372,6.374263,64.470590,66.784550,0,0,0,0,0,1
6,KELDK12,65134436228800000,0.0,0.0,3.0,2.352941,62.064170,50.386010,194.117600,18.395720,34.409600,40.459890,28.770540,0.000000,0.0,3.208556,10.641580,0.000000,0.000000,0.000000,0.000000,0,1,0,0,0,0
7,KELDK12,65134436388200000,0.0,0.0,2.0,-188.235300,-52.847060,88.299840,45.882350,0.329412,0.736587,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-53.176470,88.295660,1,0,0,0,0,0
8,KELDK13,56134337440100000,0.0,0.0,4.0,-31.941180,27.161760,29.252890,75.294110,-0.544118,1.884879,4.098040,7.223887,0.000000,0.0,0.000000,0.000000,2.058824,6.769935,21.549020,30.793620,0,0,0,0,0,1
9,KELDK14,105136582937000000,0.0,0.0,1.0,-9.411764,13.588240,12.950530,27.058820,13.588240,12.950530,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
10,KELDK14,56134346314800000,0.0,0.0,3.0,4.941176,41.284310,21.913750,70.588230,15.745100,9.181520,24.656860,21.078890,0.000000,0.0,0.000000,0.000000,0.882353,2.412352,0.000000,0.000000,0,1,0,0,0,0
11,KELDK15,65134433094700000,0.0,0.0,4.0,-1376.471000,144.422500,565.764500,804.705900,213.721900,242.388100,97.994650,63.340240,0.000000,0.0,0.000000,0.000000,1.069519,3.547192,-168.363600,481.967200,1,0,0,0,0,0
12,KELDK16,65134426405900000,0.0,0.0,2.0,5.647059,53.333330,54.546940,198.235300,42.568630,54.622610,10.764710,9.108552,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
13,KELDK16,65134426534400000,0.0,0.0,1.0,2.352941,2.352941,0.000000,2.352941,0.000000,0.000000,2.352941,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,1,0,0,0,0
14,KELDK17,56134329355600000,0.0,0.0,3.0,7.058824,72.675930,39.056030,129.317600,69.456680,39.389390,2.684492,5.127798,0.000000,0.0,0.000000,0.000000,0.534759,1.773596,0.000000,0.000000,1,0,0,0,0,0
15,KELDK17,56134329365500000,0.0,0.0,1.0,5.882353,5.882353,NaN,5.882353,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,5.882353,NaN,0.000000,NaN,0,0,0,0,1,0
16,KELDK18,56134328473900000,0.0,0.0,1.0,-35.294120,182.812800,210.804900,658.823500,182.812800,210.804900,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
17,KELDK18,56134328720400000,0.0,0.0,1.0,-8.941178,63.951880,28.766510,90.588250,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,63.951880,28.766510,0,0,0,0,0,1
18,KELDK18,56134328845500000,0.0,0.0,1.0,28.235290,28.235290,NaN,28.235290,28.235290,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,1,0,0,0,0,0
19,KELDK19,56134388724900000,0.0,0.0,3.0,-95.705900,315.643200,269.144300,691.764800,76.202940,146.836000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.686275,2.377325,238.753900,329.484800,0,0,0,0,0,1
20,KELDK19,56134391399600000,0.0,0.0,1.0,-4.235294,10.800000,13.100990,25.058820,10.800000,13.100990,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
21,KELDK20,65134442600100000,0.0,0.0,3.0,1.764706,31.098040,19.245230,62.588230,-0.931373,2.263797,31.323530,18.215660,0.000000,0.0,0.000000,0.000000,0.705882,1.716636,0.000000,0.000000,0,1,0,0,0,0
22,KELDK20,65134442822400000,0.0,0.0,4.0,1.764706,31.067870,18.787430,61.529410,15.457010,22.492010,4.126697,7.982892,0.000000,0.0,0.000000,0.000000,0.416290,0.827184,11.067870,16.825760,1,0,0,0,0,0
23,KELDK21,65134441422200000,0.0,0.0,2.0,-14.117650,691.543300,671.819000,2495.718000,359.514400,610.208300,0.000000,0.000000,0.000000,0.0,332.028900,181.001400,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
24,KELDK21,65134441430300000,0.0,0.0,1.0,-33.764710,16.877010,22.782700,40.000000,16.877010,22.782700,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
25,KELDK22,56134346796800000,0.0,0.0,2.0,7.058824,22.735290,12.402560,42.647060,0.000000,0.000000,22.147060,13.345240,0.000000,0.0,0.588235,2.037707,0.000000,0.000000,0.000000,0.000000,0,1,0,0,0,0
26,KELDK23,56134356498800000,0.0,0.0,2.0,1.176471,31.625670,16.410990,57.882350,0.000000,0.000000,8.604279,7.753561,0.000000,0.0,23.021390,13.105960,0.000000,0.000000,0.000000,0.000000,0,0,0,1,0,0
27,KELDK24,105137525767700000,0.0,0.0,1.0,9.411765,14.705880,5.544410,20.470590,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,14.705880,5.544410,0,0,0,0,0,1
28,KELDK24,56134380246800000,0.0,0.0,2.0,20.823530,35.924060,12.194850,56.470590,0.000000,0.000000,12.452410,7.362479,0.000000,0.0,23.471660,9.369006,0.000000,0.000000,0.000000,0.000000,0,0,0,1,0,0
29,KELDK25,56134363834500000,1.0,0.0,4.0,-22.352939,14.278080,NaN,89.411790,-23.529410,NaN,9.133690,NaN,0.000000,NaN,28.085560,NaN,0.588235,NaN,0.000000,NaN,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,KVIHC20,59134390178600000,1.0,1.0,1.0,-4.313727,4.969697,6.389777,18.862743,4.969697,6.389777,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
614,KVIHC22,59137084186700000,1.0,1.0,1.0,1.176471,1.176471,NaN,1.176471,1.176471,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,1,0,0,0,0,0
615,KVIHC26,59135495790900000,1.0,1.0,1.0,-2.647058,-2.107843,0.472728,-1.764706,-2.107843,0.472728,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
616,KVIHC26,59134330457200000,1.0,1.0,1.0,-2.647058,-2.107843,0.472728,-1.764706,-2.107843,0.472728,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
617,KVIHC29,59134423452600000,1.0,1.0,2.0,-11.764707,0.457516,5.170527,7.294117,0.413943,5.157910,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.043573,0.130719,0.000000,0.000000,1,0,0,0,0,0
618,KVIHC29,59134423416900000,1.0,1.0,2.0,-11.764707,0.457516,5.170527,7.294117,0.413943,5.157910,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.043573,0.130719,0.000000,0.000000,1,0,0,0,0,0
619,KVIHC31,59134363701600000,1.0,1.0,1.0,1.176470,1.176470,NaN,1.176470,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,1.176470,NaN,0.000000,NaN,0,0,0,0,1,0
620,KVIHC32,59134379935600000,1.0,1.0,2.0,-2.000000,0.958824,2.984650,5.882353,-0.335294,1.235224,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.294118,2.577517,0.000000,0.000000,0,0,0,0,1,0
621,KVIHC32,59134379744000000,1.0,1.0,2.0,-2.000000,0.958824,2.984650,5.882353,-0.335294,1.235224,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.294118,2.577517,0.000000,0.000000,0,0,0,0,1,0
622,KVIHC32,59135418664400000,1.0,1.0,2.0,-2.000000,0.958824,2.984650,5.882353,-0.335294,1.235224,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.294118,2.577517,0.000000,0.000000,0,0,0,0,1,0
623,KVIHC34,59134380768900000,1.0,1.0,1.0,3.264705,18.036765,12.780000,29.411775,18.036765,12.780000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
624,KVIHC34,59134380537400000,1.0,1.0,1.0,3.264705,18.036765,12.780000,29.411775,18.036765,12.780000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
625,KVIHC34,59134380876100000,1.0,1.0,1.0,3.264705,18.036765,12.780000,29.411775,18.036765,12.780000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
626,KVIHC35,59134311451700000,1.0,1.0,1.0,-19.607843,-19.607843,NaN,-19.607843,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,-19.607843,NaN,0,0,0,0,0,1
627,KVIHC36,59134371740300000,1.0,1.0,2.0,-17.411765,-4.584967,6.981290,3.529412,-4.781046,7.000575,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.196078,0.415945,0.000000,0.000000,0,0,0,0,1,0
628,KVIHK09,60134570806400000,1.0,1.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
629,KVIHK09,60134451677200000,1.0,1.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
630,KVIHK09,60134451233900000,1.0,1.0,1.0,0.029412,0.882353,0.852941,1.735294,0.882353,0.852941,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
631,KVIHK15,60136194901100000,1.0,1.0,2.0,-2.352941,-0.392157,1.698089,0.588235,-0.784314,1.358471,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.392157,0.339618,0.000000,0.000000,0,0,0,0,1,0
632,KVIHK19,60134337212700000,1.0,1.0,1.0,-81.470600,-20.805885,31.520595,17.941175,-20.805885,31.520595,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
633,KVIHK20,60134397695300000,1.0,1.0,1.0,-9.705882,-9.705882,NaN,-9.705882,-9.705882,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,1,0,0,0,0,0
634,KVIHK20,60134397334500000,1.0,1.0,1.0,-9.705882,-9.705882,NaN,-9.705882,-9.705882,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,1,0,0,0,0,0
635,KVIHK24,60134372759400000,1.0,1.0,1.0,0.235294,0.235294,NaN,0.235294,0.000000,NaN,0.000000,NaN,0.235294,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0,0,1,0,0,0
636,KVIHK26,60134432180100000,1.0,1.0,1.0,17.647060,17.647060,NaN,17.647060,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,17.647060,NaN,0.000000,NaN,0,0,0,0,1,0
637,KVIHK29,60134363304900000,1.0,1.0,2.0,-12.352943,-0.911765,7.408905,7.941177,-5.029413,6.313605,4.117647,4.159453,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,1,0,0,0,0
638,KVIHK30,60135227681100000,1.0,1.0,1.0,-16.862743,-9.045750,6.810597,-4.392157,-9.045750,6.810597,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
639,KVIHK33,60134380559700000,1.0,1.0,1.0,0.784314,2.688453,1.030692,4.235293,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,2.688453,1.030692,0,0,0,0,0,1
640,KVIHK33,60134380795300000,1.0,1.0,1.0,0.784314,2.688453,1.030692,4.235293,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,2.688453,1.030692,0,0,0,0,0,1
641,KVIHK34,60134434026200000,1.0,1.0,1.0,-29.411763,-5.103640,11.005933,3.137255,-5.103640,11.005933,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0
642,KVIHK34,60134389236400000,1.0,1.0,1.0,-29.411763,-5.103640,11.005933,3.137255,-5.103640,11.005933,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,0,0,0,0

## Let's check if it worked.

In [108]:
for count in range(0,5):
    print(count)
    indi = rd.choice(hh_ind_inc["m_ids"].unique())
    hh = demo[demo["m_ids"]==indi]["hh_ids"].values[0]
    display(inc[inc["m_ids_owner"]==indi])
    display(inc[inc["hh_ids"]==hh])
    display(hh_ind_inc[hh_ind_inc["m_ids"]==indi])
    display(inc_ind_only[inc_ind_only["m_ids_owner"]==indi])
    display(inc_new[inc_new["m_ids_owner"]==indi])

0

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
542,KVIHC32,59134379470300000,3,4.705883,43.137250,28.71528,90.58823,0.000000,0.000000,6.143791,18.43137,30.71895,21.16376,0.0,0.0,6.274510,8.882158,0.0,0.0,NEINCG
543,KVIHC32,HH,3,-8.000000,3.835294,11.93860,23.52941,-1.341177,4.940897,0.000000,0.00000,0.00000,0.00000,0.0,0.0,5.176471,10.310070,0.0,0.0,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1366,KVIHC32,59135418664400000,4.0,1.0,3.0,-2.0,0.958824,2.98465,5.882353,-0.335294,1.235224,0.0,0.0,0.0,0.0,0.0,0.0,1.294118,2.577517,0.0,0.0,RIOI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, hh_income_only, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
622,KVIHC32,59135418664400000,1.0,1.0,2.0,-2.0,0.958824,2.98465,5.882353,-0.335294,1.235224,0.0,0.0,0.0,0.0,0.0,0.0,1.294118,2.577517,0.0,0.0,RIOI

1

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
344,KMOMT15,61134399881000000,1,1.058824,26.50735,20.06539,50.58823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.50735,20.06539,SEI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
343,KMOMT15,61134399522100000,4,3.529412,18.492650,9.919096,31.176470,0.0,0.0,2.058824,5.823233,0.0,0.0,0.0,0.0,16.43382,9.29789,0.000000,0.000000,RIOI
344,KMOMT15,61134399881000000,1,1.058824,26.507350,20.065390,50.588230,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.00000,26.507350,20.065390,SEI
345,KMOMT15,61134437317700000,1,2.352941,8.235294,8.318903,14.117650,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.00000,8.235294,8.318903,SEI
346,KMOMT15,61134474659700000,1,8.235294,8.235294,NaN,8.235294,0.0,NaN,0.000000,NaN,0.0,NaN,0.0,NaN,0.00000,NaN,8.235294,NaN,SEI
347,KMOMT15,HH,1,7.058824,12.823530,10.960770,32.352940,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,12.82353,10.96077,0.000000,0.000000,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
894,KMOMT15,61134399881000000,7.0,1.0,1.0,1.008403,1.831933,1.565824,4.621849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.831933,1.565824,0.0,0.0,RIOI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
344,KMOMT15,61134399881000000,1.0,0.0,1,2.067227,28.339283,21.631214,55.210079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.831933,1.565824,26.50735,20.06539,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
321,KMOMT15,61134399881000000,1.0,0.0,2.0,2.067227,28.339283,21.631214,55.210079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.831933,1.565824,26.50735,20.06539,SEI

2

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
104,KELDS26,58134466070900000,1,-29.411760,26.47059,65.591090,117.64710,26.47059,65.59109,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.00000,0.00000,AGRI
105,KELDS26,58134466180200000,1,22.352940,57.47594,27.811560,98.82353,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,57.47594,27.81156,SEI
106,KELDS26,HH,1,3.529412,12.52941,7.906523,28.23529,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,12.52941,7.906523,0.00000,0.00000,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
271,KELDS26,58134466289300000,3.0,1.0,1.0,1.176471,4.17647,2.635508,9.411763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.17647,2.635508,0.0,0.0,RIOI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, hh_income_only, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
567,KELDS26,58134466289300000,1.0,1.0,1.0,1.176471,4.17647,2.635508,9.411763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.17647,2.635508,0.0,0.0,RIOI

3

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
497,KVIHC14,59134319827600000,8,-0.588235,40.846150,37.81544,136.470600,4.085973,13.45745,11.53846,23.39612,2.895928,6.286607,0.0,0.0,20.072400,24.87127,2.253394,7.630578,RIOI
498,KVIHC14,HH,1,3.529412,3.529412,NaN,3.529412,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.0,NaN,3.529412,NaN,0.000000,NaN,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1273,KVIHC14,59134320179800000,2.0,1.0,1.0,1.764706,1.764706,NaN,1.764706,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.764706,NaN,0.0,NaN,RIOI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, hh_income_only, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
605,KVIHC14,59134320179800000,1.0,1.0,1.0,1.764706,1.764706,NaN,1.764706,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.764706,NaN,0.0,NaN,RIOI

4

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
617,KVIHK34,60134433892200000,2,-22.23529,31.71569,25.71063,58.588230,0.00000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.71569,25.71063,SEI
618,KVIHK34,HH,2,-88.23529,-15.31092,33.01780,9.411765,-15.31092,33.0178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1537,KVIHK34,60134434026200000,3.0,1.0,2.0,-29.411763,-5.10364,11.005933,3.137255,-5.10364,11.005933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, hh_income_only, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
641,KVIHK34,60134434026200000,1.0,1.0,1.0,-29.411763,-5.10364,11.005933,3.137255,-5.10364,11.005933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

In [109]:
inc_new.to_csv("income.csv")