In [1]:
import pandas as pd
import numpy as np
import math as math
import matplotlib.pyplot as plt
import seaborn as sns
import random as rd
%matplotlib inline

In [2]:
# to see all the columns when using head() or describe()
pd.set_option('display.max_columns',60)

In [3]:
inc = pd.read_csv("../aux_data/inc_ind_over_trx_yr_mo_usd_excRR.csv",dtype={"m_ids_owner":str})

In [4]:
inc.head()

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_meanptrx,inc_i_sdptrx,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_medianpti,inc_i_iqrpti,inc_i_maxpti,inc_i_meanptrx_AGRI,inc_i_sdptrx_AGRI,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_medianpti_AGRI,inc_i_iqrpti_AGRI,inc_i_meanptrx_CITMPC,inc_i_sdptrx_CITMPC,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_medianpti_CITMPC,inc_i_iqrpti_CITMPC,inc_i_meanptrx_NEINCG,inc_i_sdptrx_NEINCG,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_medianpti_NEINCG,inc_i_iqrpti_NEINCG,inc_i_meanptrx_REI,inc_i_sdptrx_REI,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_medianpti_REI,inc_i_iqrpti_REI,inc_i_meanptrx_RIOI,inc_i_sdptrx_RIOI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_medianpti_RIOI,inc_i_iqrpti_RIOI,inc_i_meanptrx_SEI,inc_i_sdptrx_SEI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_medianpti_SEI,inc_i_iqrpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,2,7.931962,16.87823,17.647060,103.11550,35.65044,116.47060,32.64706,137.23530,NaN,NaN,0.0,0.0,0.0,0.0,3.808452,3.270720,35.660960,22.606590,42.941180,36.17647,NaN,NaN,0.0,0.0,0.0,0.0,18.55000,29.132750,67.45454,26.98390,70.94118,10.23529,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
1,KELDK02,56134389503000000,1,11.654500,223.38450,-1529.412000,356.43330,1037.63000,417.32350,1098.52900,2001.17700,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,0.000000,0.00000,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.00000,0.00000,0.00000,0.00000,NaN,NaN,0.0,0.0,0.0,0.0,11.654500,223.38450,356.4333,1037.6300,417.32350,1098.5290,SEI
2,KELDK08,56134410699600000,2,12.862750,14.19510,2.352941,30.01307,17.49300,37.64706,22.35294,51.88235,NaN,NaN,0.0,0.0,0.0,0.0,4.909804,5.479746,8.183006,7.638482,4.705883,11.88235,NaN,NaN,0.0,0.0,0.0,0.0,32.74510,7.603193,21.83006,17.44106,32.94118,35.29412,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
3,KELDK08,56134410709700000,2,10.059220,14.64451,3.764706,25.14804,14.33156,33.68235,25.58823,41.17647,NaN,NaN,0.0,0.0,0.0,0.0,1.524599,0.500962,2.795098,4.155897,0.882353,4.30000,NaN,NaN,0.0,0.0,0.0,0.0,33.52941,5.409572,22.35294,17.06343,30.58824,35.29412,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
4,KELDK09,56134329944600000,2,4.218487,40.39918,-2.352941,123.48660,138.51580,98.82353,219.41180,434.11760,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,0.000000,0.00000,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.00000,0.00000,0.00000,0.00000,NaN,NaN,0.0,0.0,0.0,0.0,4.218487,40.39918,123.4866,138.5158,98.82353,219.4118,SEI

In [5]:
inc.shape

(631, 48)

In [6]:
inc.isnull().describe()

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_meanptrx,inc_i_sdptrx,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_medianpti,inc_i_iqrpti,inc_i_maxpti,inc_i_meanptrx_AGRI,inc_i_sdptrx_AGRI,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_medianpti_AGRI,inc_i_iqrpti_AGRI,inc_i_meanptrx_CITMPC,inc_i_sdptrx_CITMPC,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_medianpti_CITMPC,inc_i_iqrpti_CITMPC,inc_i_meanptrx_NEINCG,inc_i_sdptrx_NEINCG,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_medianpti_NEINCG,inc_i_iqrpti_NEINCG,inc_i_meanptrx_REI,inc_i_sdptrx_REI,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_medianpti_REI,inc_i_iqrpti_REI,inc_i_meanptrx_RIOI,inc_i_sdptrx_RIOI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_medianpti_RIOI,inc_i_iqrpti_RIOI,inc_i_meanptrx_SEI,inc_i_sdptrx_SEI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_medianpti_SEI,inc_i_iqrpti_SEI,inc_i_dom
count,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631,631
unique,1,1,1,2,2,1,1,2,1,1,1,2,2,1,2,1,1,2,2,1,2,1,1,2,2,1,2,1,1,2,2,1,2,1,1,2,2,1,2,1,1,2,2,1,2,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True,False,False,False,False,False
freq,631,631,631,629,576,631,631,555,631,631,631,421,454,631,555,631,631,357,389,631,555,631,631,563,589,631,555,631,631,515,525,631,555,631,631,432,489,631,555,631,631,366,381,631,555,631,631,631

In [7]:
list(inc.columns)

['hh_ids',
 'm_ids_owner',
 'inc_i_unique_sources',
 'inc_i_meanptrx',
 'inc_i_sdptrx',
 'inc_i_minpti',
 'inc_i_meanpti',
 'inc_i_sdpti',
 'inc_i_medianpti',
 'inc_i_iqrpti',
 'inc_i_maxpti',
 'inc_i_meanptrx_AGRI',
 'inc_i_sdptrx_AGRI',
 'inc_i_meanpti_AGRI',
 'inc_i_sdpti_AGRI',
 'inc_i_medianpti_AGRI',
 'inc_i_iqrpti_AGRI',
 'inc_i_meanptrx_CITMPC',
 'inc_i_sdptrx_CITMPC',
 'inc_i_meanpti_CITMPC',
 'inc_i_sdpti_CITMPC',
 'inc_i_medianpti_CITMPC',
 'inc_i_iqrpti_CITMPC',
 'inc_i_meanptrx_NEINCG',
 'inc_i_sdptrx_NEINCG',
 'inc_i_meanpti_NEINCG',
 'inc_i_sdpti_NEINCG',
 'inc_i_medianpti_NEINCG',
 'inc_i_iqrpti_NEINCG',
 'inc_i_meanptrx_REI',
 'inc_i_sdptrx_REI',
 'inc_i_meanpti_REI',
 'inc_i_sdpti_REI',
 'inc_i_medianpti_REI',
 'inc_i_iqrpti_REI',
 'inc_i_meanptrx_RIOI',
 'inc_i_sdptrx_RIOI',
 'inc_i_meanpti_RIOI',
 'inc_i_sdpti_RIOI',
 'inc_i_medianpti_RIOI',
 'inc_i_iqrpti_RIOI',
 'inc_i_meanptrx_SEI',
 'inc_i_sdptrx_SEI',
 'inc_i_meanpti_SEI',
 'inc_i_sdpti_SEI',
 'inc_i_medianpti_SEI',
 'inc_i_iqrpti_SEI',
 'inc_i_dom']

In [8]:
cols_keep = ['hh_ids','m_ids_owner','inc_i_unique_sources', 'inc_i_minpti','inc_i_meanpti','inc_i_sdpti','inc_i_maxpti','inc_i_meanpti_AGRI','inc_i_sdpti_AGRI','inc_i_meanpti_CITMPC','inc_i_sdpti_CITMPC', 'inc_i_meanpti_NEINCG','inc_i_sdpti_NEINCG','inc_i_meanpti_REI', 'inc_i_sdpti_REI','inc_i_meanpti_RIOI', 'inc_i_sdpti_RIOI','inc_i_meanpti_SEI', 'inc_i_sdpti_SEI', 'inc_i_dom']

In [9]:
cols_keep

['hh_ids',
 'm_ids_owner',
 'inc_i_unique_sources',
 'inc_i_minpti',
 'inc_i_meanpti',
 'inc_i_sdpti',
 'inc_i_maxpti',
 'inc_i_meanpti_AGRI',
 'inc_i_sdpti_AGRI',
 'inc_i_meanpti_CITMPC',
 'inc_i_sdpti_CITMPC',
 'inc_i_meanpti_NEINCG',
 'inc_i_sdpti_NEINCG',
 'inc_i_meanpti_REI',
 'inc_i_sdpti_REI',
 'inc_i_meanpti_RIOI',
 'inc_i_sdpti_RIOI',
 'inc_i_meanpti_SEI',
 'inc_i_sdpti_SEI',
 'inc_i_dom']

In [10]:
inc = inc[cols_keep]

In [11]:
inc[inc["inc_i_sdpti"].isnull()]

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
15,KELDK17,56134329365500000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,5.882353,NaN,0.000000,NaN,RIOI
18,KELDK18,56134328845500000,1,28.235290,28.235290,NaN,28.235290,28.235290,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
30,KELDK25,HH,1,-23.529410,-23.529410,NaN,-23.529410,-23.529410,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
62,KELDL10,58134381695100000,1,0.823529,0.823529,NaN,0.823529,0.000000,NaN,0.823529,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
66,KELDL15,58134458139200000,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,2.352941,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
74,KELDS03,58134364537300000,1,7.058824,7.058824,NaN,7.058824,0.000000,NaN,7.058824,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
110,KELDS28,58135965540500000,1,7.058824,7.058824,NaN,7.058824,0.000000,NaN,7.058824,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
119,KMAKE08,63134364973600000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,5.882353,NaN,0.000000,NaN,RIOI
134,KMAKE17,63134372285300000,2,4.823529,4.823529,NaN,4.823529,4.823529,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
151,KMAKE33,63134398497100000,1,14.705880,14.705880,NaN,14.705880,0.000000,NaN,14.705880,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
167,KMAKL08,65134380761700000,1,2.352941,2.352941,NaN,2.352941,2.352941,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
174,KMAKL12,65134389716400000,1,2.941176,2.941176,NaN,2.941176,2.941176,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
177,KMAKL15,65134426843800000,1,23.529410,23.529410,NaN,23.529410,0.000000,NaN,0.000000,NaN,0.000000,NaN,23.52941,NaN,0.000000,NaN,0.000000,NaN,REI
181,KMAKL19,65134441978400000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,5.882353,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
185,KMAKL22,65134363948700000,2,38.235290,38.235290,NaN,38.235290,17.647060,NaN,20.588240,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
202,KMAKL37,65134396219600000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,5.882353,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
215,KMOMB03,57134398896300000,2,28.235290,28.235290,NaN,28.235290,0.000000,NaN,0.000000,NaN,0.000000,NaN,25.88235,NaN,0.000000,NaN,2.352941,NaN,REI
220,KMOMB04,57134363349500000,1,17.647060,17.647060,NaN,17.647060,0.000000,NaN,0.000000,NaN,17.647060,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
222,KMOMB05,57134408521700000,1,-5.294117,-5.294117,NaN,-5.294117,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,-5.294117,NaN,RIOI
224,KMOMB05,57134408946700000,1,6.117647,6.117647,NaN,6.117647,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,6.117647,NaN,0.000000,NaN,RIOI
227,KMOMB06,57134295207400000,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,0.000000,NaN,2.352941,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
232,KMOMB10,57137334806700000,1,4.705883,4.705883,NaN,4.705883,0.000000,NaN,0.000000,NaN,4.705883,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
235,KMOMB14,57134305609900000,1,35.294120,35.294120,NaN,35.294120,0.000000,NaN,0.000000,NaN,35.294120,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
239,KMOMB16,57134296189900000,1,9.411765,9.411765,NaN,9.411765,0.000000,NaN,0.000000,NaN,9.411765,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
240,KMOMB16,57134296459600000,1,82.352940,82.352940,NaN,82.352940,0.000000,NaN,0.000000,NaN,82.352940,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
242,KMOMB16,HH,2,46.117650,46.117650,NaN,46.117650,0.000000,NaN,0.000000,NaN,9.411765,NaN,0.00000,NaN,36.705880,NaN,0.000000,NaN,RIOI
244,KMOMB17,57134365707800000,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,0.000000,NaN,2.352941,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
252,KMOMB22,57136117645700000,1,5.294118,5.294118,NaN,5.294118,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,5.294118,NaN,SEI
259,KMOMK01,61135730036000000,1,17.647060,17.647060,NaN,17.647060,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,17.647060,NaN,SEI
269,KMOMK08,61134363286800000,1,588.235300,588.235300,NaN,588.235300,0.000000,NaN,0.000000,NaN,0.000000,NaN,588.23530,NaN,0.000000,NaN,0.000000,NaN,REI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,KNBOK01,79134743588500000,1,94.117650,94.117650,NaN,94.117650,0.000000,NaN,0.000000,NaN,94.117650,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
379,KNBOK03,64134408292500000,1,105.882400,105.882400,NaN,105.882400,0.000000,NaN,0.000000,NaN,105.882400,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
386,KNBOK06,64134398420500000,1,223.529400,223.529400,NaN,223.529400,0.000000,NaN,0.000000,NaN,0.000000,NaN,223.52940,NaN,0.000000,NaN,0.000000,NaN,REI
394,KNBOK16,89136315237400000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,5.882353,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
407,KNBOK26,89136489681100000,2,64.705880,64.705880,NaN,64.705880,0.000000,NaN,0.000000,NaN,0.000000,NaN,29.41176,NaN,35.294120,NaN,0.000000,NaN,RIOI
447,KNBOM22,62134347918700000,1,23.529410,23.529410,NaN,23.529410,0.000000,NaN,0.000000,NaN,23.529410,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
454,KNBOM31,62134347100000000,1,20.000000,20.000000,NaN,20.000000,0.000000,NaN,0.000000,NaN,20.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
458,KNBOM33,62134427055700000,1,4.117647,4.117647,NaN,4.117647,0.000000,NaN,4.117647,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
460,KNBOM36,62137360940700000,1,29.411760,29.411760,NaN,29.411760,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,29.411760,NaN,0.000000,NaN,RIOI
461,KNBOM36,62138138642000000,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,2.352941,NaN,SEI
483,KVIHC08,59134398835800000,0,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
494,KVIHC13,59134372098700000,1,4.941176,4.941176,NaN,4.941176,4.941176,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
498,KVIHC14,HH,1,3.529412,3.529412,NaN,3.529412,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,3.529412,NaN,0.000000,NaN,RIOI
501,KVIHC16,59134423954300000,1,0.352941,0.352941,NaN,0.352941,0.352941,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
509,KVIHC19,59134328466300000,1,-0.588235,-0.588235,NaN,-0.588235,-0.588235,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
522,KVIHC22,HH,1,3.529412,3.529412,NaN,3.529412,3.529412,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
524,KVIHC23,59134391227800000,1,-4.705883,-4.705883,NaN,-4.705883,-4.705883,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
527,KVIHC25,59134364403200000,1,4.705883,4.705883,NaN,4.705883,0.000000,NaN,4.705883,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
532,KVIHC26,59134330102500000,1,23.529410,23.529410,NaN,23.529410,0.000000,NaN,23.529410,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
541,KVIHC31,HH,1,2.352941,2.352941,NaN,2.352941,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,2.352941,NaN,0.000000,NaN,RIOI
545,KVIHC33,59134338069600000,1,17.647060,17.647060,NaN,17.647060,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,17.647060,NaN,0.000000,NaN,RIOI
550,KVIHC35,HH,1,-58.823530,-58.823530,NaN,-58.823530,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,-58.823530,NaN,RIOI
560,KVIHK07,60134319997900000,3,46.117650,46.117650,NaN,46.117650,11.764710,NaN,7.294118,NaN,0.000000,NaN,0.00000,NaN,27.058820,NaN,0.000000,NaN,RIOI
570,KVIHK13,60134399003700000,1,2.352941,2.352941,NaN,2.352941,2.352941,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,AGRI
580,KVIHK17,60134382470000000,1,1.764706,1.764706,NaN,1.764706,0.000000,NaN,1.764706,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
589,KVIHK20,HH,1,-38.823530,-38.823530,NaN,-38.823530,-38.823530,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,SEI
600,KVIHK24,HH,1,0.705882,0.705882,NaN,0.705882,0.000000,NaN,0.000000,NaN,0.705882,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,NEINCG
602,KVIHK26,HH,1,35.294120,35.294120,NaN,35.294120,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.00000,NaN,35.294120,NaN,0.000000,NaN,RIOI
605,KVIHK29,60134363207500000,1,5.882353,5.882353,NaN,5.882353,0.000000,NaN,5.882353,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC
622,KVIHK38,60134406421700000,1,23.529410,23.529410,NaN,23.529410,0.000000,NaN,23.529410,NaN,0.000000,NaN,0.00000,NaN,0.000000,NaN,0.000000,NaN,CITMPC

## Let's import the demographics dataset.

### We will use this to find the individuals that correspond to each household.

In [12]:
demo = pd.read_csv("../aux_data/demo_ind.csv",dtype={"m_ids":str})

In [13]:
demo.head()

,hh_ids,m_ids,dem_i_male,dem_i_age_yrs,dem_i_age_5yrgrp,dem_i_age_workage,dem_i_relhead,dem_i_hhead,dem_i_marstat,dem_i_tribe,dem_i_children_tot,dem_i_children_inhh
0,KELDK01,56134392820800000,Female,8,[5 - 10),0,Son or daughter,0,Never married/lived together,Kalenjin,NaN,NaN
1,KELDK01,56134390476100000,Male,30,[30 - 35),1,Household head,1,Married/living together,Kalenjin,2.0,0.0
2,KELDK01,56134392826900000,Male,2,[0 - 5),0,Son or daughter,0,Never married/lived together,Kalenjin,NaN,NaN
3,KELDK01,56134390654900000,Female,24,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,2.0,0.0
4,KELDK02,56134389772300000,Female,35,[35 - 40),1,Husband or wife,0,Married/living together,Luhya,1.0,1.0

### all individual ids in the demographics dataset.

In [14]:
ids_demo = set(demo["m_ids"].unique())

### all individuals that have an individual income

In [15]:
ids_inc = set(inc["m_ids_owner"].unique())
ids_inc.remove("HH")

## Let's see if some people have several incomes.

In [16]:
inc["m_ids_owner"].value_counts().value_counts()

1     565
66      1
Name: m_ids_owner, dtype: int64

In [17]:
(inc["m_ids_owner"].value_counts()>1).value_counts()

False    565
True       1
Name: m_ids_owner, dtype: int64

In [18]:
inc[inc["m_ids_owner"]=="HH"].shape

(66, 20)

### It seems like only the "HH" individual id appears several times.

# Let's compute the number of working people for all the households that have a household income.

## Since there is a column in the demographics dataset that indicates whether a person is of working age, we will use this.

### Let's first save a new dataframe from income that only has the household incomes.

In [19]:
hh_inc = inc[inc["m_ids_owner"]=="HH"].copy()

In [20]:
hh_inc.shape

(66, 20)

### Now we save all household ids that are associated to a household that has a household income.

In [21]:
hh_inc_ids = set(inc[inc["m_ids_owner"]=="HH"]["hh_ids"].unique())

In [22]:
len(hh_inc_ids)

66

### at most one hh income per hh, that is good.

## Now we reduce the demographics dataset to all individuals that are associated to a household income and are of working age.

In [23]:
hh_inc_demo = demo[(demo["hh_ids"].isin(hh_inc_ids))&(demo["dem_i_age_workage"]==1)].copy()

In [24]:
len(hh_inc_demo["hh_ids"].unique())

66

### Nice we have all hh that have a hh income in the demo dataset.

### the number of individuals that have a household income:

In [25]:
len(hh_inc_demo["m_ids"].unique())

189

## We only keep the hh id and the individual id from the individuals that have a household income and are of working age.

In [26]:
hh_inc_demo = hh_inc_demo[["hh_ids","m_ids"]].copy()

In [27]:
hh_inc_demo.shape

(189, 2)

## The column "num_pp_hh" will record how many working people live in the households that have a household income.

In [28]:
hh_inc_demo.insert(hh_inc_demo.shape[1],"num_pp_hh",np.zeros(hh_inc_demo.shape[0]))

## What is the distribution of the number of pp per household with household income?

In [29]:
hh_inc_demo["hh_ids"].value_counts().value_counts()

2    24
3    19
4    12
1     6
6     3
7     1
5     1
Name: hh_ids, dtype: int64

### Here we save the number of pp per household.

In [30]:
for index,row in hh_inc_demo.iterrows():
    hh_inc_demo.at[index,"num_pp_hh"] = hh_inc_demo["hh_ids"].value_counts()[row["hh_ids"]]

### Let's check if it looks right.

In [31]:
hh_inc_demo[hh_inc_demo["hh_ids"]=="KMOMT15"]

      hh_ids              m_ids  num_pp_hh
885  KMOMT15  61134399522100000        7.0
886  KMOMT15  61134477018700000        7.0
887  KMOMT15  61134520740000000        7.0
889  KMOMT15  61134474659700000        7.0
892  KMOMT15  61134399962500000        7.0
894  KMOMT15  61134399881000000        7.0
898  KMOMT15  61134437317700000        7.0

## Values match up, that's good. (these are the ones from before * themselves)

In [32]:
hh_inc_demo["num_pp_hh"].value_counts()

3.0    57
4.0    48
2.0    48
6.0    18
7.0     7
1.0     6
5.0     5
Name: num_pp_hh, dtype: int64

## New dataframe for all the individuals that are matched to a hh income.

In [33]:
hh_ind_inc = hh_inc_demo.copy()

In [34]:
hh_ind_inc.head()

      hh_ids               m_ids  num_pp_hh
79   KELDK25   56134363834500000        1.0
162  KELDS01   58134441503200000        3.0
163  KELDS01   58134441196400000        3.0
164  KELDS01  108136868079500000        3.0
263  KELDS23  108136932369600000        2.0

In [35]:
hh_ind_inc.shape

(189, 3)

### We will now add to this all the columns that also are in the income dataset.

In [36]:
cols = list(inc.columns)
cols.remove("hh_ids")
cols.remove("m_ids_owner")

In [37]:
cols

['inc_i_unique_sources',
 'inc_i_minpti',
 'inc_i_meanpti',
 'inc_i_sdpti',
 'inc_i_maxpti',
 'inc_i_meanpti_AGRI',
 'inc_i_sdpti_AGRI',
 'inc_i_meanpti_CITMPC',
 'inc_i_sdpti_CITMPC',
 'inc_i_meanpti_NEINCG',
 'inc_i_sdpti_NEINCG',
 'inc_i_meanpti_REI',
 'inc_i_sdpti_REI',
 'inc_i_meanpti_RIOI',
 'inc_i_sdpti_RIOI',
 'inc_i_meanpti_SEI',
 'inc_i_sdpti_SEI',
 'inc_i_dom']

In [38]:
for col in cols:
    if col == "inc_i_dom":
        continue
    hh_ind_inc.insert(hh_ind_inc.shape[1],col,np.zeros(hh_ind_inc.shape[0]))

In [39]:
hh_ind_inc.insert(hh_ind_inc.shape[1],"inc_i_dom",["-"]*hh_ind_inc.shape[0])

In [40]:
hh_ind_inc.head()

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
79,KELDK25,56134363834500000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
162,KELDS01,58134441503200000,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
163,KELDS01,58134441196400000,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
164,KELDS01,108136868079500000,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
263,KELDS23,108136932369600000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-

### numerical columns

In [41]:
ncols = cols.copy()

In [42]:
ncols.remove("inc_i_dom")
ncols.remove("inc_i_unique_sources")

In [43]:
sdcols=ncols.copy()

In [44]:
for i in sdcols:
    if "sd" not in i:
        sdcols.remove(i)
sdcols

['inc_i_meanpti',
 'inc_i_sdpti',
 'inc_i_meanpti_AGRI',
 'inc_i_sdpti_AGRI',
 'inc_i_sdpti_CITMPC',
 'inc_i_sdpti_NEINCG',
 'inc_i_sdpti_REI',
 'inc_i_sdpti_RIOI',
 'inc_i_sdpti_SEI']

In [45]:
mcols = ncols.copy()
for i in sdcols:
    mcols.remove(i)
mcols

['inc_i_minpti',
 'inc_i_maxpti',
 'inc_i_meanpti_CITMPC',
 'inc_i_meanpti_NEINCG',
 'inc_i_meanpti_REI',
 'inc_i_meanpti_RIOI',
 'inc_i_meanpti_SEI']

In [46]:
meancols = ['inc_i_meanpti_AGRI',
 'inc_i_meanpti_CITMPC',
 'inc_i_meanpti_NEINCG',
 'inc_i_meanpti_REI',
 'inc_i_meanpti_RIOI',
 'inc_i_meanpti_SEI']

In [47]:
inc_sources = ["AGRI","CITMPC","NEINCG","REI","RIOI","SEI"]

### Now we can edit the entries in the hh_ind_inc dataset to be the values of the household income divided by the number of people in the household.

In [48]:
for index,row in hh_ind_inc.iterrows():
    if hh_inc[hh_inc["hh_ids"]==row["hh_ids"]].shape[0]>1:
        print("Error")
    else:
        hh_ind_inc.at[index,"inc_i_unique_sources"] = hh_inc[hh_inc["hh_ids"]==row["hh_ids"]]["inc_i_unique_sources"].values[0]
        hh_ind_inc.at[index,"inc_i_dom"] = hh_inc[hh_inc["hh_ids"]==row["hh_ids"]]["inc_i_dom"].values[0]
    
    for col in mcols:
        hh_ind_inc.at[index,col] = hh_inc[hh_inc["hh_ids"]==row["hh_ids"]][col].values[0]/row["num_pp_hh"]
    
    for col in sdcols:
        hh_ind_inc.at[index,col] = hh_inc[hh_inc["hh_ids"]==row["hh_ids"]][col].values[0]/row["num_pp_hh"]

# Testing

In [49]:
count = 0
for count in range(0,10):
    print(count)
    hh = rd.choice(hh_ind_inc["hh_ids"].unique())
    display(inc[inc["hh_ids"]==hh])
    display(hh_ind_inc[hh_ind_inc["hh_ids"]==hh])
    count +=1

0

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
502,KVIHC17,59134338863000000,2,6.470588,21.51261,27.947590,82.94118,0.000000,0.00000,11.00840,9.940505,0.0,0.0,0.0,0.0,0.0,0.00000,10.5042,21.59293,CITMPC
503,KVIHC17,59134339024900000,2,11.764710,17.18954,5.006724,23.52941,0.000000,0.00000,17.18954,5.006724,0.0,0.0,0.0,0.0,0.0,0.00000,0.0000,0.00000,CITMPC
504,KVIHC17,HH,3,-0.823529,15.07843,26.390770,68.47059,5.078431,4.36432,0.00000,0.000000,0.0,0.0,0.0,0.0,10.0,23.92318,0.0000,0.00000,RIOI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1286,KVIHC17,59134338863000000,3.0,3.0,-0.27451,5.026143,8.796923,22.82353,1.69281,1.454773,0.0,0.0,0.0,0.0,0.0,0.0,3.333333,7.974393,0.0,0.0,RIOI
1289,KVIHC17,59134339235800000,3.0,3.0,-0.27451,5.026143,8.796923,22.82353,1.69281,1.454773,0.0,0.0,0.0,0.0,0.0,0.0,3.333333,7.974393,0.0,0.0,RIOI
1292,KVIHC17,59134338574600000,3.0,3.0,-0.27451,5.026143,8.796923,22.82353,1.69281,1.454773,0.0,0.0,0.0,0.0,0.0,0.0,3.333333,7.974393,0.0,0.0,RIOI

1

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
502,KVIHC17,59134338863000000,2,6.470588,21.51261,27.947590,82.94118,0.000000,0.00000,11.00840,9.940505,0.0,0.0,0.0,0.0,0.0,0.00000,10.5042,21.59293,CITMPC
503,KVIHC17,59134339024900000,2,11.764710,17.18954,5.006724,23.52941,0.000000,0.00000,17.18954,5.006724,0.0,0.0,0.0,0.0,0.0,0.00000,0.0000,0.00000,CITMPC
504,KVIHC17,HH,3,-0.823529,15.07843,26.390770,68.47059,5.078431,4.36432,0.00000,0.000000,0.0,0.0,0.0,0.0,10.0,23.92318,0.0000,0.00000,RIOI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1286,KVIHC17,59134338863000000,3.0,3.0,-0.27451,5.026143,8.796923,22.82353,1.69281,1.454773,0.0,0.0,0.0,0.0,0.0,0.0,3.333333,7.974393,0.0,0.0,RIOI
1289,KVIHC17,59134339235800000,3.0,3.0,-0.27451,5.026143,8.796923,22.82353,1.69281,1.454773,0.0,0.0,0.0,0.0,0.0,0.0,3.333333,7.974393,0.0,0.0,RIOI
1292,KVIHC17,59134338574600000,3.0,3.0,-0.27451,5.026143,8.796923,22.82353,1.69281,1.454773,0.0,0.0,0.0,0.0,0.0,0.0,3.333333,7.974393,0.0,0.0,RIOI

2

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
491,KVIHC11,59134312157700000,2,3.176471,10.40000,7.342628,21.764710,3.694118,4.814626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.705883,4.624292,SEI
492,KVIHC11,HH,1,-28.235290,-12.11765,14.012850,-2.823529,-12.117650,14.012850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1255,KVIHC11,59134312157700000,2.0,1.0,-14.117645,-6.058825,7.006425,-1.411765,-6.058825,7.006425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI
1257,KVIHC11,59134312819600000,2.0,1.0,-14.117645,-6.058825,7.006425,-1.411765,-6.058825,7.006425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

3

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
477,KVIHC03,59134425495000000,4,0.235294,19.294120,11.809000,37.882350,0.183007,1.491743,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,19.11111,12.3911,SEI
478,KVIHC03,HH,1,1.176471,1.470588,0.415945,1.764706,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.470588,0.415945,0.00000,0.0000,RIOI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1221,KVIHC03,59134425495000000,1.0,1.0,1.176471,1.470588,0.415945,1.764706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.470588,0.415945,0.0,0.0,RIOI

4

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
488,KVIHC10,59134337065400000,2,1.764706,19.89305,11.70058,32.352940,0.0,0.0000,19.94652,11.62236,0.0,0.0,0.0,0.0,0.0,0.0,-0.053476,0.17736,CITMPC
489,KVIHC10,59134337347700000,1,1.176471,46.49020,17.54830,66.705890,0.0,0.0000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,46.490200,17.54830,SEI
490,KVIHC10,HH,1,-36.470590,-14.50000,14.66060,-6.470589,-14.5,14.6606,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1250,KVIHC10,59134337065400000,2.0,1.0,-18.235295,-7.25,7.3303,-3.235295,-7.25,7.3303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI
1253,KVIHC10,59134337347700000,2.0,1.0,-18.235295,-7.25,7.3303,-3.235295,-7.25,7.3303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

5

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
515,KVIHC21,59134382227900000,3,1.176471,35.544120,34.623120,95.88235,0.000000,0.000000,3.779412,4.368782,29.41176,35.01289,0.0,0.0,2.352941,6.193454,0.0,0.0,NEINCG
516,KVIHC21,59134382487600000,1,1.176471,3.437908,3.591020,12.70588,0.000000,0.000000,3.437908,3.591020,0.00000,0.00000,0.0,0.0,0.000000,0.000000,0.0,0.0,CITMPC
517,KVIHC21,59134382671100000,1,2.352941,8.739496,4.206720,14.11765,0.000000,0.000000,8.739496,4.206720,0.00000,0.00000,0.0,0.0,0.000000,0.000000,0.0,0.0,CITMPC
518,KVIHC21,59134382783100000,1,0.941176,5.658823,3.976652,12.94118,0.000000,0.000000,5.658823,3.976652,0.00000,0.00000,0.0,0.0,0.000000,0.000000,0.0,0.0,CITMPC
519,KVIHC21,HH,2,2.352941,29.058820,27.994070,60.00000,0.588235,1.315334,0.000000,0.000000,0.00000,0.00000,0.0,0.0,28.470590,28.702020,0.0,0.0,RIOI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1311,KVIHC21,59134382671100000,4.0,2.0,0.588235,7.264705,6.998518,15.0,0.147059,0.328834,0.0,0.0,0.0,0.0,0.0,0.0,7.117648,7.175505,0.0,0.0,RIOI
1313,KVIHC21,59134382783100000,4.0,2.0,0.588235,7.264705,6.998518,15.0,0.147059,0.328834,0.0,0.0,0.0,0.0,0.0,0.0,7.117648,7.175505,0.0,0.0,RIOI
1315,KVIHC21,59134382227900000,4.0,2.0,0.588235,7.264705,6.998518,15.0,0.147059,0.328834,0.0,0.0,0.0,0.0,0.0,0.0,7.117648,7.175505,0.0,0.0,RIOI
1316,KVIHC21,59134382487600000,4.0,2.0,0.588235,7.264705,6.998518,15.0,0.147059,0.328834,0.0,0.0,0.0,0.0,0.0,0.0,7.117648,7.175505,0.0,0.0,RIOI

6

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
551,KVIHC36,59134371287500000,1,-10.82353,6.797386,12.34843,27.764710,0.000000,0.00000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.000000,0.00000,6.797386,12.34843,SEI
552,KVIHC36,59134371497400000,2,12.00000,61.652940,83.06699,295.294100,0.000000,0.00000,0.0,0.0,61.65294,83.06699,0.0,0.0,0.000000,0.00000,0.000000,0.00000,NEINCG
553,KVIHC36,HH,4,-34.82353,-9.169934,13.96258,7.058824,-9.562092,14.00115,0.0,0.0,0.00000,0.00000,0.0,0.0,0.392157,0.83189,0.000000,0.00000,RIOI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1386,KVIHC36,59134371740300000,2.0,4.0,-17.411765,-4.584967,6.98129,3.529412,-4.781046,7.000575,0.0,0.0,0.0,0.0,0.0,0.0,0.196078,0.415945,0.0,0.0,RIOI
1387,KVIHC36,59134371287500000,2.0,4.0,-17.411765,-4.584967,6.98129,3.529412,-4.781046,7.000575,0.0,0.0,0.0,0.0,0.0,0.0,0.196078,0.415945,0.0,0.0,RIOI

7

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
523,KVIHC23,59134391035200000,3,21.176470,92.915690,50.42559,159.529400,0.509804,1.24876,70.34706,53.14093,0.0,0.0,0.0,0.0,0.0,0.0,22.05882,32.06773,CITMPC
524,KVIHC23,59134391227800000,1,-4.705883,-4.705883,NaN,-4.705883,-4.705883,NaN,0.00000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.00000,NaN,SEI
525,KVIHC23,HH,3,-115.352900,178.790600,153.25500,409.388200,1.576471,25.30790,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,177.21410,146.59150,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1324,KVIHC23,59134391227800000,2.0,3.0,-57.67645,89.3953,76.6275,204.6941,0.788235,12.65395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.60705,73.29575,SEI
1325,KVIHC23,59134391035200000,2.0,3.0,-57.67645,89.3953,76.6275,204.6941,0.788235,12.65395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.60705,73.29575,SEI

8

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
116,KMAKE07,63134362976500000,2,16.117650,39.49412,12.60634,57.41177,1.960784,6.792356,0.00000,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,37.53333,12.473220,SEI
117,KMAKE07,63134363237200000,7,4.470588,23.82353,19.06907,69.41177,3.004902,8.417893,0.54902,1.758873,0.00000,0.000000,0.0,0.0,0.539216,1.691128,19.73039,18.123490,SEI
118,KMAKE07,HH,4,6.470588,19.19608,10.86760,35.29412,-1.225490,4.245223,0.00000,0.000000,1.27451,4.415031,0.0,0.0,0.372549,1.290548,18.77451,9.943086,SEI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
304,KMAKE07,63134363237200000,5.0,4.0,1.294118,3.839216,2.17352,7.058824,-0.245098,0.849045,0.0,0.0,0.254902,0.883006,0.0,0.0,0.07451,0.25811,3.754902,1.988617,SEI
305,KMAKE07,63134363390100000,5.0,4.0,1.294118,3.839216,2.17352,7.058824,-0.245098,0.849045,0.0,0.0,0.254902,0.883006,0.0,0.0,0.07451,0.25811,3.754902,1.988617,SEI
306,KMAKE07,63134363484900000,5.0,4.0,1.294118,3.839216,2.17352,7.058824,-0.245098,0.849045,0.0,0.0,0.254902,0.883006,0.0,0.0,0.07451,0.25811,3.754902,1.988617,SEI
308,KMAKE07,63134362976500000,5.0,4.0,1.294118,3.839216,2.17352,7.058824,-0.245098,0.849045,0.0,0.0,0.254902,0.883006,0.0,0.0,0.07451,0.25811,3.754902,1.988617,SEI
309,KMAKE07,63134363352000000,5.0,4.0,1.294118,3.839216,2.17352,7.058824,-0.245098,0.849045,0.0,0.0,0.254902,0.883006,0.0,0.0,0.07451,0.25811,3.754902,1.988617,SEI

9

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
526,KVIHC25,59134364180200000,1,2.352941,2.823529,0.644379,3.529412,0.000000,0.000000,2.823529,0.644379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
527,KVIHC25,59134364403200000,1,4.705883,4.705883,NaN,4.705883,0.000000,NaN,4.705883,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,CITMPC
528,KVIHC25,59134364519500000,1,3.529412,9.764706,4.192595,14.705880,0.000000,0.000000,9.764706,4.192595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
529,KVIHC25,HH,2,-10.588240,3.579832,8.503709,12.941180,3.579832,8.503709,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

,hh_ids,m_ids,num_pp_hh,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1326,KVIHC25,59134364180200000,2.0,2.0,-5.29412,1.789916,4.251854,6.47059,1.789916,4.251854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI
1329,KVIHC25,59134364403200000,2.0,2.0,-5.29412,1.789916,4.251854,6.47059,1.789916,4.251854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

### This all looks good.

# Make column that shows if a person has a household income.

In [50]:
hh_ind_inc.insert(3,"hh_income",np.ones(hh_ind_inc.shape[0]))

In [51]:
hh_ind_inc.head()

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
79,KELDK25,56134363834500000,1.0,1.0,1.0,-23.529410,-23.529410,NaN,-23.52941,-23.529410,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.00000,NaN,0.0,NaN,SEI
162,KELDS01,58134441503200000,3.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.54902,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,SEI
163,KELDS01,58134441196400000,3.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.54902,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,SEI
164,KELDS01,108136868079500000,3.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.54902,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,SEI
263,KELDS23,108136932369600000,2.0,1.0,1.0,28.235295,36.176470,11.230520,44.11765,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,36.17647,11.23052,0.0,0.0,RIOI

### We do the same in the income dataset without the hh incomes.

In [52]:
inc_ind_only = inc[inc["m_ids_owner"]!="HH"].copy()

In [53]:
inc_ind_only.shape

(565, 20)

In [54]:
inc.shape

(631, 20)

In [55]:
inc[inc["m_ids_owner"]=="HH"].shape

(66, 20)

In [56]:
inc_ind_only["m_ids_owner"].value_counts().value_counts()

1    565
Name: m_ids_owner, dtype: int64

In [57]:
inc_ind_only.head()

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,2,17.647060,103.11550,35.65044,137.23530,0.0,0.0,35.660960,22.606590,0.0,0.0,67.45454,26.98390,0.0,0.0,0.0000,0.0000,REI
1,KELDK02,56134389503000000,1,-1529.412000,356.43330,1037.63000,2001.17700,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,356.4333,1037.6300,SEI
2,KELDK08,56134410699600000,2,2.352941,30.01307,17.49300,51.88235,0.0,0.0,8.183006,7.638482,0.0,0.0,21.83006,17.44106,0.0,0.0,0.0000,0.0000,REI
3,KELDK08,56134410709700000,2,3.764706,25.14804,14.33156,41.17647,0.0,0.0,2.795098,4.155897,0.0,0.0,22.35294,17.06343,0.0,0.0,0.0000,0.0000,REI
4,KELDK09,56134329944600000,2,-2.352941,123.48660,138.51580,434.11760,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,123.4866,138.5158,SEI

In [58]:
inc_ind_only.insert(2,"hh_income",np.zeros(inc_ind_only.shape[0]))

In [59]:
inc_ind_only.head()

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,0.0,2,17.647060,103.11550,35.65044,137.23530,0.0,0.0,35.660960,22.606590,0.0,0.0,67.45454,26.98390,0.0,0.0,0.0000,0.0000,REI
1,KELDK02,56134389503000000,0.0,1,-1529.412000,356.43330,1037.63000,2001.17700,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,356.4333,1037.6300,SEI
2,KELDK08,56134410699600000,0.0,2,2.352941,30.01307,17.49300,51.88235,0.0,0.0,8.183006,7.638482,0.0,0.0,21.83006,17.44106,0.0,0.0,0.0000,0.0000,REI
3,KELDK08,56134410709700000,0.0,2,3.764706,25.14804,14.33156,41.17647,0.0,0.0,2.795098,4.155897,0.0,0.0,22.35294,17.06343,0.0,0.0,0.0000,0.0000,REI
4,KELDK09,56134329944600000,0.0,2,-2.352941,123.48660,138.51580,434.11760,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,123.4866,138.5158,SEI

# Now for each individual that has income from the household and an individual income, we need to add the two rows, and adjust the number of income types and the main income. Also the column "hh_income" should be set 1 for all of these.

In [60]:
#we will remove from this list all people that also have an individual income.
ind_only_hh_inc = list(hh_inc_demo["m_ids"].unique()).copy()
index_ind_inc = 0

for index,row in hh_ind_inc.iterrows():
    if row["m_ids"] in inc_ind_only["m_ids_owner"].unique():
        ind_only_hh_inc.remove(row["m_ids"])
        index_ind_inc = inc_ind_only[inc_ind_only["m_ids_owner"]==row["m_ids"]].index[0]
        #removed dominant source, will add later
#        dom_ind_inc = inc_ind_only.loc[index_ind_inc,"inc_i_dom"]
#        dom_hh_inc = row["inc_i_dom"]
#        if row["inc_i_meanpti_"+dom_hh_inc] > inc_ind_only.loc[index_ind_inc,"inc_i_meanpti_"+dom_ind_inc]:
#            inc_ind_only.at[index_ind_inc,"inc_i_dom"] = row["inc_i_dom"]
#        else:
#            inc_ind_only.at[index_ind_inc,"inc_i_dom"] = dom_ind_inc
            
        # sum up for all the numerical columns
        for col in ncols:
            ind_part = inc_ind_only.loc[index_ind_inc,col]
            inc_ind_only.at[index_ind_inc,col] =  ind_part + row[col]
        
        #removed number of income sources, will add later
        #number of income sources
        #c = 0
        #for source in inc_sources:
        #    if inc_ind_only.loc[index_ind_inc,"inc_i_meanpti_"+source] !=0 or inc_ind_only.loc[index_ind_inc,"inc_i_sdpti_"+source] !=0:
        #        c +=1
        #
        #inc_ind_only.at[index_ind_inc,"inc_i_unique_sources"]=c
        #
        inc_ind_only.at[index_ind_inc,"hh_income"]=1

In [61]:
for count in range(0,5):
    print(count)
    indi = rd.choice(hh_ind_inc["m_ids"].unique())
    hh = demo[demo["m_ids"]==indi]["hh_ids"].values[0]
    display(inc[inc["m_ids_owner"]==indi])
    display(inc[inc["hh_ids"]==hh])
    display(hh_ind_inc[hh_ind_inc["m_ids"]==indi])
    display(inc_ind_only[inc_ind_only["m_ids_owner"]==indi])

0

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
367,KMOMT32,61134468689200000,3,4.117647,265.08820,238.943000,670.12940,0.0,0.0,0.0000,0.0,0.0,0.0,259.3039,238.7289,5.784314,8.885404,0.00000,0.00000,REI
368,KMOMT32,61134469028000000,4,0.235294,152.86470,129.888200,297.41180,0.0,0.0,0.0000,0.0,0.0,0.0,132.4015,132.0667,8.750000,24.748740,11.71324,14.69383,REI
369,KMOMT32,61134469270700000,1,352.941200,352.94120,NaN,352.94120,0.0,NaN,352.9412,NaN,0.0,NaN,0.0000,NaN,0.000000,NaN,0.00000,NaN,CITMPC
370,KMOMT32,HH,1,11.764710,23.52941,9.605842,35.29412,0.0,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0000,23.529410,9.605842,0.00000,0.00000,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
952,KMOMT32,61134469320800000,6.0,1.0,1.0,1.960785,3.921568,1.600974,5.882353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.921568,1.600974,0.0,0.0,RIOI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

1

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
524,KVIHC23,59134391227800000,1,-4.705883,-4.705883,NaN,-4.705883,-4.705883,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,SEI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
523,KVIHC23,59134391035200000,3,21.176470,92.915690,50.42559,159.529400,0.509804,1.24876,70.34706,53.14093,0.0,0.0,0.0,0.0,0.0,0.0,22.05882,32.06773,CITMPC
524,KVIHC23,59134391227800000,1,-4.705883,-4.705883,NaN,-4.705883,-4.705883,NaN,0.00000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.00000,NaN,SEI
525,KVIHC23,HH,3,-115.352900,178.790600,153.25500,409.388200,1.576471,25.30790,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,177.21410,146.59150,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1324,KVIHC23,59134391227800000,2.0,1.0,3.0,-57.67645,89.3953,76.6275,204.6941,0.788235,12.65395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.60705,73.29575,SEI

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
524,KVIHC23,59134391227800000,1.0,1,-62.382333,84.689417,NaN,199.988217,-3.917648,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,88.60705,NaN,SEI

2

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
114,KMAKE06,63134425702500000,2,-19.411760,-7.462185,7.369583,1.882353,-7.462185,7.369583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,SEI
115,KMAKE06,HH,1,4.705883,97.055890,52.798540,183.058800,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97.05589,52.79854,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
302,KMAKE06,63134425969100000,4.0,1.0,1.0,1.176471,24.263973,13.199635,45.7647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.263973,13.199635,SEI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

3

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
100,KELDS23,58134434718200000,3,-164.7059,46.70785,91.67498,247.6471,0.0,0.0,2.990196,4.511063,0.0,0.0,54.06863,61.0104,0.0,0.0,-10.35098,63.91577,REI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
100,KELDS23,58134434718200000,3,-164.70590,46.70785,91.67498,247.6471,0.0,0.0,2.990196,4.511063,0.0,0.0,54.06863,61.0104,0.00000,0.00000,-10.35098,63.91577,REI
101,KELDS23,HH,1,56.47059,72.35294,22.46104,88.2353,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.0000,72.35294,22.46104,0.00000,0.00000,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
264,KELDS23,58134434718200000,2.0,1.0,1.0,28.235295,36.17647,11.23052,44.11765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.17647,11.23052,0.0,0.0,RIOI

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
100,KELDS23,58134434718200000,1.0,3,-136.470605,82.88432,102.9055,291.76475,0.0,0.0,2.990196,4.511063,0.0,0.0,54.06863,61.0104,36.17647,11.23052,-10.35098,63.91577,REI

4

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
121,KMAKE09,63134390012700000,3,-24.705880,19.90353,34.37992,63.52942,19.19765,35.34905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.705882,2.232196,AGRI
122,KMAKE09,HH,1,1.647059,23.17647,16.53570,52.47059,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.176470,16.535700,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
318,KMAKE09,63134389911000000,4.0,1.0,1.0,0.411765,5.794118,4.133925,13.117648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.794118,4.133925,SEI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

# no intersection between only household incomes and those we already added to the income datatset

In [62]:
set(ind_only_hh_inc) & set(inc_ind_only["m_ids_owner"].unique())

set()

In [63]:
hh_ind_inc.shape

(189, 22)

In [64]:
hh_ind_inc_only = hh_ind_inc[hh_ind_inc["m_ids"].isin(set(ind_only_hh_inc))].copy()

In [65]:
hh_ind_inc_only.head()

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
163,KELDS01,58134441196400000,3.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.549020,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,SEI
263,KELDS23,108136932369600000,2.0,1.0,1.0,28.235295,36.176470,11.230520,44.117650,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,36.17647,11.230520,0.000000,0.000000,RIOI
271,KELDS26,58134466289300000,3.0,1.0,1.0,1.176471,4.176470,2.635508,9.411763,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,4.17647,2.635508,0.000000,0.000000,RIOI
301,KMAKE06,63134426010400000,4.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,24.263973,13.199635,SEI
302,KMAKE06,63134425969100000,4.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,24.263973,13.199635,SEI

In [66]:
hh_ind_inc_only.insert(4,"hh_income_only",np.ones(hh_ind_inc_only.shape[0]))

In [67]:
del hh_ind_inc_only["num_pp_hh"]

In [68]:
hh_ind_inc_only.shape

(78, 22)

In [69]:
hh_ind_inc_only = hh_ind_inc_only.rename(columns={"m_ids":"m_ids_owner"});

In [70]:
hh_ind_inc_only.head()

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
163,KELDS01,58134441196400000,1.0,1.0,1.0,-2.352941,-0.901961,2.051996,0.549020,-0.901961,2.051996,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,SEI
263,KELDS23,108136932369600000,1.0,1.0,1.0,28.235295,36.176470,11.230520,44.117650,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,36.17647,11.230520,0.000000,0.000000,RIOI
271,KELDS26,58134466289300000,1.0,1.0,1.0,1.176471,4.176470,2.635508,9.411763,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,4.17647,2.635508,0.000000,0.000000,RIOI
301,KMAKE06,63134426010400000,1.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,24.263973,13.199635,SEI
302,KMAKE06,63134425969100000,1.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,24.263973,13.199635,SEI

In [71]:
inc_ind_only.head()

,hh_ids,m_ids_owner,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,0.0,2,17.647060,103.11550,35.65044,137.23530,0.0,0.0,35.660960,22.606590,0.0,0.0,67.45454,26.98390,0.0,0.0,0.0000,0.0000,REI
1,KELDK02,56134389503000000,0.0,1,-1529.412000,356.43330,1037.63000,2001.17700,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,356.4333,1037.6300,SEI
2,KELDK08,56134410699600000,0.0,2,2.352941,30.01307,17.49300,51.88235,0.0,0.0,8.183006,7.638482,0.0,0.0,21.83006,17.44106,0.0,0.0,0.0000,0.0000,REI
3,KELDK08,56134410709700000,0.0,2,3.764706,25.14804,14.33156,41.17647,0.0,0.0,2.795098,4.155897,0.0,0.0,22.35294,17.06343,0.0,0.0,0.0000,0.0000,REI
4,KELDK09,56134329944600000,0.0,2,-2.352941,123.48660,138.51580,434.11760,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,123.4866,138.5158,SEI

In [72]:
inc_ind_only["hh_income"].value_counts()

0.0    454
1.0    111
Name: hh_income, dtype: int64

In [73]:
inc_ind_only.insert(3,"hh_income_only",np.zeros(inc_ind_only.shape[0]))

In [74]:
inc_ind_only.shape

(565, 22)

In [75]:
inc_new = pd.concat([inc_ind_only,hh_ind_inc_only])

In [76]:
inc_new[inc_new["hh_income"]==1].sample(10)

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
555,KVIHK01,60134423402600000,1.0,0.0,5.0,9.411765,69.786420,44.764405,140.235320,-0.083333,4.081003,0.196078,0.679235,0.000000,0.000000,0.0000,0.0000,13.310920,4.830425,56.362750,40.511730,RIOI
1512,KVIHK30,60135227681100000,1.0,1.0,1.0,-16.862743,-9.045750,6.810597,-4.392157,-9.045750,6.810597,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.000000,0.000000,0.000000,0.000000,SEI
1299,KVIHC18,59134414389900000,1.0,1.0,2.0,-1.764706,-0.088235,1.220854,1.205882,-0.088235,1.220854,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.000000,0.000000,0.000000,0.000000,SEI
116,KMAKE07,63134362976500000,1.0,0.0,2.0,17.411768,43.333336,14.779860,64.470594,1.715686,7.641401,0.000000,0.000000,0.254902,0.883006,0.0000,0.0000,0.074510,0.258110,41.288232,14.461837,SEI
952,KMOMT32,61134469320800000,1.0,1.0,1.0,1.960785,3.921568,1.600974,5.882353,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,3.921568,1.600974,0.000000,0.000000,RIOI
340,KMOMT06,61134442496500000,1.0,0.0,3.0,4.117647,6.549019,NaN,11.058824,-1.764706,NaN,0.000000,NaN,0.000000,NaN,0.0000,NaN,6.235294,NaN,2.078431,NaN,RIOI
542,KVIHC32,59134379470300000,1.0,0.0,3.0,2.705883,44.096074,31.699930,96.470583,-0.335294,1.235224,6.143791,18.431370,30.718950,21.163760,0.0000,0.0000,7.568628,11.459675,0.000000,0.000000,NEINCG
367,KMOMT32,61134468689200000,1.0,0.0,3.0,6.078432,269.009768,240.543974,676.011753,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,259.3039,238.7289,9.705882,10.486378,0.000000,0.000000,REI
955,KMOMT32,61134469167600000,1.0,1.0,1.0,1.960785,3.921568,1.600974,5.882353,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,3.921568,1.600974,0.000000,0.000000,RIOI
1257,KVIHC11,59134312819600000,1.0,1.0,1.0,-14.117645,-6.058825,7.006425,-1.411765,-6.058825,7.006425,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.000000,0.000000,0.000000,0.000000,SEI

In [77]:
inc_new.shape

(643, 22)

In [78]:
inc_new = inc_new.reset_index(drop=True)

In [79]:
inc_new.sample(10)

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
529,KVIHK19,60134337376400000,1.0,0.0,2.0,-63.823540,46.056865,75.233775,119.117675,-20.805885,31.520595,0.000000,0.000000,0.0,0.0,63.52941,40.97429,3.333333,2.901696,0.000000,0.000000,REI
252,KMOMK08,61134363655200000,0.0,0.0,4.0,23.647060,121.108800,55.040310,187.223500,0.000000,0.000000,0.000000,0.000000,0.0,0.0,33.84412,36.18170,0.000000,0.000000,87.264700,58.226260,SEI
541,KVIHK29,60134362920000000,1.0,0.0,2.0,-6.235296,31.697865,25.719625,76.176468,27.580217,24.624325,4.117647,4.159453,0.0,0.0,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,AGRI
253,KMOMK08,61134363726000000,0.0,0.0,3.0,0.352941,12.941180,9.959607,30.823530,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.000000,0.000000,12.941180,9.959607,SEI
174,KMAKL24,65134364392000000,0.0,0.0,6.0,4.705883,106.168100,166.811300,450.235300,93.126050,155.527700,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.000000,0.000000,13.042020,18.501210,AGRI
465,KVIHC15,59134390567400000,0.0,0.0,2.0,2.352941,15.294120,11.997690,37.647060,0.000000,0.000000,3.921569,7.123884,0.0,0.0,0.00000,0.00000,11.372550,13.753470,0.000000,0.000000,RIOI
29,KELDK25,56134363834500000,1.0,0.0,4.0,-22.352939,14.278080,NaN,89.411790,-23.529410,NaN,9.133690,NaN,0.0,NaN,28.08556,NaN,0.588235,NaN,0.000000,NaN,REI
569,KMAKE06,63134425969100000,1.0,1.0,1.0,1.176471,24.263973,13.199635,45.764700,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.000000,0.000000,24.263973,13.199635,SEI
42,KELDK33,56134364399500000,0.0,0.0,2.0,59.117650,75.702350,11.570870,94.941180,0.000000,0.000000,31.558820,14.402120,0.0,0.0,44.14353,21.30793,0.000000,0.000000,0.000000,0.000000,REI
544,KVIHK29,60134363368800000,0.0,0.0,1.0,0.235294,3.215686,3.492619,7.058824,0.000000,0.000000,3.215686,3.492619,0.0,0.0,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,CITMPC

In [80]:
inc_new.duplicated().value_counts()

False    643
dtype: int64

### The dominant income seems to be off. I will fix this now.

In [81]:
for index,row in inc_new.iterrows():
    #number of income sources
    c = 0
    #we save all sources the individual has
    sources_ind = set()
    for source in inc_sources:
        if not math.isnan(inc_new.loc[index,"inc_i_meanpti_"+source]):
            if (inc_new.loc[index,"inc_i_meanpti_"+source] !=0) or ((inc_new.loc[index,"inc_i_sdpti_"+source] != 0) and not (math.isnan(inc_new.loc[index,"inc_i_sdpti_"+source]))):
                    c +=1
                    sources_ind.add(source)
                    
            
    inc_new.at[index,"inc_i_unique_sources"]=c
    
    #dominant income source
    if len(sources_ind)==0:
        continue
    if len(sources_ind)==1:
        inc_new.at[index,"inc_i_dom"]=list(sources_ind)[0]
    else:
        mean_source = []
        for source in sources_ind:
            mean_source.append("inc_i_meanpti_"+source)
        
        maxi = inc_new[inc_new["m_ids_owner"]==row["m_ids_owner"]][mean_source].idxmax(axis=1)
        dom = maxi.values[0]

        inc_new.at[index,"inc_i_dom"] = dom[14:]

In [82]:
for count in range(0,5):
    print(count)
    indi = rd.choice(hh_ind_inc["m_ids"].unique())
    hh = demo[demo["m_ids"]==indi]["hh_ids"].values[0]
    display(inc[inc["m_ids_owner"]==indi])
    display(inc[inc["hh_ids"]==hh])
    display(hh_ind_inc[hh_ind_inc["m_ids"]==indi])
    display(inc_ind_only[inc_ind_only["m_ids_owner"]==indi])
    display(inc_new[inc_new["m_ids_owner"]==indi])

0

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
526,KVIHC25,59134364180200000,1,2.352941,2.823529,0.644379,3.529412,0.0,0.0,2.823529,0.644379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
526,KVIHC25,59134364180200000,1,2.352941,2.823529,0.644379,3.529412,0.000000,0.000000,2.823529,0.644379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
527,KVIHC25,59134364403200000,1,4.705883,4.705883,NaN,4.705883,0.000000,NaN,4.705883,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,CITMPC
528,KVIHC25,59134364519500000,1,3.529412,9.764706,4.192595,14.705880,0.000000,0.000000,9.764706,4.192595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC
529,KVIHC25,HH,2,-10.588240,3.579832,8.503709,12.941180,3.579832,8.503709,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1326,KVIHC25,59134364180200000,2.0,1.0,2.0,-5.29412,1.789916,4.251854,6.47059,1.789916,4.251854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
526,KVIHC25,59134364180200000,1.0,0.0,1,-2.941179,4.613445,4.896234,10.000002,1.789916,4.251854,2.823529,0.644379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
484,KVIHC25,59134364180200000,1.0,0.0,2.0,-2.941179,4.613445,4.896234,10.000002,1.789916,4.251854,2.823529,0.644379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC

1

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
569,KVIHK13,60134398683400000,3,2.352941,23.23529,15.60334,47.64706,0.0,0.0,23.23529,15.60334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CITMPC

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
569,KVIHK13,60134398683400000,3,2.352941,23.235290,15.603340,47.647060,0.000000,0.000000,23.235290,15.603340,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,CITMPC
570,KVIHK13,60134399003700000,1,2.352941,2.352941,NaN,2.352941,2.352941,NaN,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,0.000000,NaN,AGRI
571,KVIHK13,60134399137700000,3,2.352941,7.676471,7.107850,24.941180,0.000000,0.000000,7.676471,7.107850,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,CITMPC
572,KVIHK13,HH,4,-5.882353,1.568627,5.243769,8.235294,-0.588235,1.440876,1.960784,3.382566,0.0,0.0,0.0,0.0,0.588235,1.440876,-0.392157,3.037634,CITMPC

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1436,KVIHK13,60134398683400000,2.0,1.0,4.0,-2.941177,0.784313,2.621885,4.117647,-0.294118,0.720438,0.980392,1.691283,0.0,0.0,0.0,0.0,0.294118,0.720438,-0.196078,1.518817,CITMPC

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
569,KVIHK13,60134398683400000,1.0,0.0,3,-0.588236,24.019603,18.225224,51.764707,-0.294118,0.720438,24.215682,17.294623,0.0,0.0,0.0,0.0,0.294118,0.720438,-0.196078,1.518817,CITMPC

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
515,KVIHK13,60134398683400000,1.0,0.0,4.0,-0.588236,24.019603,18.225224,51.764707,-0.294118,0.720438,24.215682,17.294623,0.0,0.0,0.0,0.0,0.294118,0.720438,-0.196078,1.518817,CITMPC

2

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
513,KVIHC20,59134390309500000,4,3.529412,42.63529,36.33473,106.9412,0.0,0.0,34.94117,34.19778,0.0,0.0,0.0,0.0,2.352941,7.440653,5.341177,8.036288,CITMPC

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
512,KVIHC20,59134389987000000,2,-2.352941,8.426471,6.642911,18.82353,8.426471,6.642911,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,AGRI
513,KVIHC20,59134390309500000,4,3.529412,42.635290,36.334730,106.94120,0.000000,0.000000,34.94117,34.19778,0.0,0.0,0.0,0.0,2.352941,7.440653,5.341177,8.036288,CITMPC
514,KVIHC20,HH,3,-12.941180,14.909090,19.169330,56.58823,14.909090,19.169330,0.00000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,AGRI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1309,KVIHC20,59134390309500000,3.0,1.0,3.0,-4.313727,4.969697,6.389777,18.862743,4.969697,6.389777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AGRI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
513,KVIHC20,59134390309500000,1.0,0.0,4,-0.784315,47.604987,42.724507,125.803943,4.969697,6.389777,34.94117,34.19778,0.0,0.0,0.0,0.0,2.352941,7.440653,5.341177,8.036288,CITMPC

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
475,KVIHC20,59134390309500000,1.0,0.0,4.0,-0.784315,47.604987,42.724507,125.803943,4.969697,6.389777,34.94117,34.19778,0.0,0.0,0.0,0.0,2.352941,7.440653,5.341177,8.036288,CITMPC

3

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
554,KVIHK01,60134423025500000,1,-3.529411,30.3268,41.01978,132.9412,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.3268,41.01978,SEI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
554,KVIHK01,60134423025500000,1,-3.529411,30.32680,41.019780,132.94120,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.000000,30.3268,41.01978,SEI
555,KVIHK01,60134423402600000,5,5.882353,13.31092,4.830425,21.41177,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,13.31092,4.830425,0.0000,0.00000,RIOI
556,KVIHK01,HH,3,7.058824,112.95100,79.867960,237.64710,-0.166667,8.162005,0.392157,1.358471,0.0,0.0,0.0,0.0,0.00000,0.000000,112.7255,81.02346,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1389,KVIHK01,60134423025500000,2.0,1.0,3.0,3.529412,56.4755,39.93398,118.82355,-0.083333,4.081003,0.196078,0.679235,0.0,0.0,0.0,0.0,0.0,0.0,56.36275,40.51173,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
554,KVIHK01,60134423025500000,1.0,0.0,1,0.000001,86.8023,80.95376,251.76475,-0.083333,4.081003,0.196078,0.679235,0.0,0.0,0.0,0.0,0.0,0.0,86.68955,81.53151,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
503,KVIHK01,60134423025500000,1.0,0.0,3.0,0.000001,86.8023,80.95376,251.76475,-0.083333,4.081003,0.196078,0.679235,0.0,0.0,0.0,0.0,0.0,0.0,86.68955,81.53151,SEI

4

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
121,KMAKE09,63134390012700000,3,-24.705880,19.90353,34.37992,63.52942,19.19765,35.34905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.705882,2.232196,AGRI
122,KMAKE09,HH,1,1.647059,23.17647,16.53570,52.47059,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.176470,16.535700,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
316,KMAKE09,63134390200000000,4.0,1.0,1.0,0.411765,5.794118,4.133925,13.117648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.794118,4.133925,SEI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, hh_income_only, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
574,KMAKE09,63134390200000000,1.0,1.0,1.0,0.411765,5.794118,4.133925,13.117648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.794118,4.133925,SEI

# To check for bugs we also look whether there are any "number of unique sources" larger than 6 (which is the max)

In [83]:
inc_new[inc_new["inc_i_unique_sources"]>4]

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
112,KMAKE07,63134363237200000,1.0,0.0,5.0,5.764706,27.662746,21.242590,76.470594,2.759804,9.266938,0.54902,1.758873,0.254902,0.883006,0.00000,0.00000,0.613725,1.949238,23.485292,20.112107,SEI
227,KMOMB17,57134365483700000,0.0,0.0,5.0,1.647059,87.229420,82.944790,225.647100,0.000000,0.000000,19.31765,28.277410,19.776470,32.355790,30.51765,49.41351,2.647059,6.719800,14.970590,30.443940,REI
299,KMOMM13,57134345619700000,1.0,0.0,5.0,14.117646,70.223535,50.708951,166.588195,0.000000,0.000000,37.74118,40.832130,2.411765,2.578860,16.47059,51.26316,3.388235,9.582247,10.211770,14.988660,CITMPC
333,KMOMT22,61134425330400000,0.0,0.0,5.0,4.705883,137.905900,133.835400,444.588200,-0.717647,1.843096,52.76471,54.080730,0.000000,0.000000,40.58823,83.39444,26.470590,46.833610,18.800000,20.741560,CITMPC
464,KVIHC14,59134319827600000,1.0,0.0,5.0,1.176471,42.610856,NaN,138.235306,4.085973,NaN,11.53846,NaN,2.895928,NaN,0.00000,NaN,21.837106,NaN,2.253394,NaN,RIOI

# Finally we make the last column into binary variables

In [84]:
inc_new["inc_i_dom"].isnull().value_counts()

False    643
Name: inc_i_dom, dtype: int64

In [85]:
inc_new = pd.get_dummies(inc_new,prefix=["dom_inc"],columns=["inc_i_dom"])

## Let's check if it worked.

In [86]:
for count in range(0,5):
    print(count)
    indi = rd.choice(hh_ind_inc["m_ids"].unique())
    hh = demo[demo["m_ids"]==indi]["hh_ids"].values[0]
    display(inc[inc["m_ids_owner"]==indi])
    display(inc[inc["hh_ids"]==hh])
    display(hh_ind_inc[hh_ind_inc["m_ids"]==indi])
    display(inc_ind_only[inc_ind_only["m_ids_owner"]==indi])
    display(inc_new[inc_new["m_ids_owner"]==indi])

0

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
155,KMAKE35,63134338421700000,2,0.588235,14.784310,9.962791,38.23529,0.0,0.0,11.40196,11.34497,0.000000,0.000000,0.0,0.0,0.0,0.0,3.382353,3.637602,CITMPC
156,KMAKE35,HH,1,2.352941,7.529412,4.862113,12.00000,0.0,0.0,0.00000,0.00000,7.529412,4.862113,0.0,0.0,0.0,0.0,0.000000,0.000000,NEINCG

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
410,KMAKE35,63134338838900000,3.0,1.0,1.0,0.784314,2.509804,1.620704,4.0,0.0,0.0,0.0,0.0,2.509804,1.620704,0.0,0.0,0.0,0.0,0.0,0.0,NEINCG

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, hh_income_only, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,dom_inc_AGRI,dom_inc_CITMPC,dom_inc_NEINCG,dom_inc_REI,dom_inc_RIOI,dom_inc_SEI
582,KMAKE35,63134338838900000,1.0,1.0,1.0,0.784314,2.509804,1.620704,4.0,0.0,0.0,0.0,0.0,2.509804,1.620704,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0

1

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
617,KVIHK34,60134433892200000,2,-22.23529,31.71569,25.71063,58.588230,0.00000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.71569,25.71063,SEI
618,KVIHK34,HH,2,-88.23529,-15.31092,33.01780,9.411765,-15.31092,33.0178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1537,KVIHK34,60134434026200000,3.0,1.0,2.0,-29.411763,-5.10364,11.005933,3.137255,-5.10364,11.005933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, hh_income_only, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,dom_inc_AGRI,dom_inc_CITMPC,dom_inc_NEINCG,dom_inc_REI,dom_inc_RIOI,dom_inc_SEI
641,KVIHK34,60134434026200000,1.0,1.0,1.0,-29.411763,-5.10364,11.005933,3.137255,-5.10364,11.005933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0

2

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
585,KVIHK19,60134337376400000,2,17.64706,66.86275,43.71318,101.1765,0.0,0.0,0.0,0.0,0.0,0.0,63.52941,40.97429,3.333333,2.901696,0.0,0.0,REI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
584,KVIHK19,60134336915700000,4,25.88235,194.70590,94.77750,316.47060,27.29412,53.51411,0.0,0.0,116.4706,40.92359,35.29412,56.82893,15.647060,14.778120,0.0,0.0,NEINCG
585,KVIHK19,60134337376400000,2,17.64706,66.86275,43.71318,101.17650,0.00000,0.00000,0.0,0.0,0.0000,0.00000,63.52941,40.97429,3.333333,2.901696,0.0,0.0,REI
586,KVIHK19,HH,3,-162.94120,-41.61177,63.04119,35.88235,-41.61177,63.04119,0.0,0.0,0.0000,0.00000,0.00000,0.00000,0.000000,0.000000,0.0,0.0,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1467,KVIHK19,60134337376400000,2.0,1.0,3.0,-81.4706,-20.805885,31.520595,17.941175,-20.805885,31.520595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
585,KVIHK19,60134337376400000,1.0,0.0,2,-63.82354,46.056865,75.233775,119.117675,-20.805885,31.520595,0.0,0.0,0.0,0.0,63.52941,40.97429,3.333333,2.901696,0.0,0.0,REI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,dom_inc_AGRI,dom_inc_CITMPC,dom_inc_NEINCG,dom_inc_REI,dom_inc_RIOI,dom_inc_SEI
529,KVIHK19,60134337376400000,1.0,0.0,3.0,-63.82354,46.056865,75.233775,119.117675,-20.805885,31.520595,0.0,0.0,0.0,0.0,63.52941,40.97429,3.333333,2.901696,0.0,0.0,0,0,0,1,0,0

3

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
588,KVIHK20,60134397669600000,5,-23.52941,39.23529,47.21872,120.0,10.58823,22.1976,3.529412,6.395885,0.0,0.0,0.0,0.0,0.0,0.0,25.11765,38.54729,SEI

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
587,KVIHK20,60134397255200000,3,-10.58823,26.58823,24.45390,60.00000,0.00000,0.0000,0.320856,0.713859,0.0,0.0,0.0,0.0,0.0,0.0,26.26738,24.27433,SEI
588,KVIHK20,60134397669600000,5,-23.52941,39.23529,47.21872,120.00000,10.58823,22.1976,3.529412,6.395885,0.0,0.0,0.0,0.0,0.0,0.0,25.11765,38.54729,SEI
589,KVIHK20,HH,1,-38.82353,-38.82353,NaN,-38.82353,-38.82353,NaN,0.000000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.00000,NaN,SEI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1475,KVIHK20,60134397669600000,4.0,1.0,1.0,-9.705882,-9.705882,NaN,-9.705882,-9.705882,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
588,KVIHK20,60134397669600000,1.0,0.0,5,-33.235292,29.529407,NaN,110.294117,0.882348,NaN,3.529412,NaN,0.0,NaN,0.0,NaN,0.0,NaN,25.11765,NaN,SEI

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,dom_inc_AGRI,dom_inc_CITMPC,dom_inc_NEINCG,dom_inc_REI,dom_inc_RIOI,dom_inc_SEI
531,KVIHK20,60134397669600000,1.0,0.0,3.0,-33.235292,29.529407,NaN,110.294117,0.882348,NaN,3.529412,NaN,0.0,NaN,0.0,NaN,0.0,NaN,25.11765,NaN,0,0,0,0,0,1

4

Empty DataFrame
Columns: [hh_ids, m_ids_owner, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
542,KVIHC32,59134379470300000,3,4.705883,43.137250,28.71528,90.58823,0.000000,0.000000,6.143791,18.43137,30.71895,21.16376,0.0,0.0,6.274510,8.882158,0.0,0.0,NEINCG
543,KVIHC32,HH,3,-8.000000,3.835294,11.93860,23.52941,-1.341177,4.940897,0.000000,0.00000,0.00000,0.00000,0.0,0.0,5.176471,10.310070,0.0,0.0,RIOI

,hh_ids,m_ids,num_pp_hh,hh_income,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
1364,KVIHC32,59134379744000000,4.0,1.0,3.0,-2.0,0.958824,2.98465,5.882353,-0.335294,1.235224,0.0,0.0,0.0,0.0,0.0,0.0,1.294118,2.577517,0.0,0.0,RIOI

Empty DataFrame
Columns: [hh_ids, m_ids_owner, hh_income, hh_income_only, inc_i_unique_sources, inc_i_minpti, inc_i_meanpti, inc_i_sdpti, inc_i_maxpti, inc_i_meanpti_AGRI, inc_i_sdpti_AGRI, inc_i_meanpti_CITMPC, inc_i_sdpti_CITMPC, inc_i_meanpti_NEINCG, inc_i_sdpti_NEINCG, inc_i_meanpti_REI, inc_i_sdpti_REI, inc_i_meanpti_RIOI, inc_i_sdpti_RIOI, inc_i_meanpti_SEI, inc_i_sdpti_SEI, inc_i_dom]
Index: []

,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,dom_inc_AGRI,dom_inc_CITMPC,dom_inc_NEINCG,dom_inc_REI,dom_inc_RIOI,dom_inc_SEI
621,KVIHC32,59134379744000000,1.0,1.0,2.0,-2.0,0.958824,2.98465,5.882353,-0.335294,1.235224,0.0,0.0,0.0,0.0,0.0,0.0,1.294118,2.577517,0.0,0.0,0,0,0,0,1,0

In [87]:
inc_new.to_csv("../../Notebooks/income.csv")

In [88]:
inc_new.shape

(643, 27)