In [1]:
import pandas as pd
import glob
import os
from sklearn.model_selection import train_test_split

In [2]:
glob.glob('*.csv')

['loan_outcomes_33_150.csv',
 'individual_outcomes_33_150.csv',
 'data.csv',
 'diaries_trx_trunc_loans_start_bal.csv',
 'binary_y_train.csv',
 'data_merged_nocatvars.csv',
 'binary_x_train.csv',
 'binary_x_test.csv',
 'binary_y_test.csv']

In [3]:
data = pd.read_csv('data_merged_nocatvars.csv')

In [4]:
data.shape

(139, 159)

In [5]:
## dropping the "HH" owner ID b/c it is nonsense:

In [6]:
idx = data[data['m_ids_owner']=="HH"].index
list(idx)[0]

35

In [7]:
data = data.drop(list(idx)[0])

In [8]:
data.head()

,m_ids_owner,owner_score,binarize_score,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,...,tribe_Luhya,tribe_Luo,tribe_Mijikenda/Swahili,tribe_Taita/Taveta,inc_i_dom_AGRI,inc_i_dom_CITMPC,inc_i_dom_NEINCG,inc_i_dom_REI,inc_i_dom_RIOI,inc_i_dom_SEI
0,65134441430300000,0.75,1,KELDK21,1061.1900,4257.9390,1150,26529.750,17300.0,75020,...,0,0,0,0,1,0,0,0,0,0
1,60134547419200000,0.50,999,KVIHK40,213.3567,406.9379,1810,14703.830,15589.5,29414,...,1,0,0,0,0,0,0,0,0,1
2,63134425702500000,1.00,1,KMAKE06,153.4010,1022.1200,120,5036.667,4232.5,18320,...,0,0,0,0,0,0,0,0,0,1
3,64134429266300000,1.00,1,KNBOK05,273.7134,1146.3220,3920,30884.000,29395.5,67102,...,0,0,0,0,0,0,0,0,0,1
4,65134432186900000,1.00,1,KELDK37,217.1206,648.0765,10,9752.333,8557.5,26320,...,0,0,0,0,1,0,0,0,0,0

In [9]:
data = data.loc[data['binarize_score'] != 999]

In [10]:
data.binarize_score.value_counts()

1    90
0    24
Name: binarize_score, dtype: int64

In [11]:
data.shape

(114, 159)

In [12]:
data.head()

,m_ids_owner,owner_score,binarize_score,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,...,tribe_Luhya,tribe_Luo,tribe_Mijikenda/Swahili,tribe_Taita/Taveta,inc_i_dom_AGRI,inc_i_dom_CITMPC,inc_i_dom_NEINCG,inc_i_dom_REI,inc_i_dom_RIOI,inc_i_dom_SEI
0,65134441430300000,0.750000,1,KELDK21,1061.19000,4257.9390,1150,26529.750,17300.0,75020,...,0,0,0,0,1,0,0,0,0,0
2,63134425702500000,1.000000,1,KMAKE06,153.40100,1022.1200,120,5036.667,4232.5,18320,...,0,0,0,0,0,0,0,0,0,1
3,64134429266300000,1.000000,1,KNBOK05,273.71340,1146.3220,3920,30884.000,29395.5,67102,...,0,0,0,0,0,0,0,0,0,1
4,65134432186900000,1.000000,1,KELDK37,217.12060,648.0765,10,9752.333,8557.5,26320,...,0,0,0,0,1,0,0,0,0,0
5,65134442822400000,0.833333,1,KELDK20,92.59821,307.3109,840,3988.846,3150.0,9770,...,0,0,0,0,1,0,0,0,0,0

In [13]:
labels = data.binarize_score 
data = data.drop(['binarize_score'], axis = 1)

In [14]:
x_train, x_test, y_train, y_test = train_test_split(data, labels, stratify = labels, random_state=42, test_size = 0.2 )

In [16]:
x_train.head()

,m_ids_owner,owner_score,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,...,tribe_Luhya,tribe_Luo,tribe_Mijikenda/Swahili,tribe_Taita/Taveta,inc_i_dom_AGRI,inc_i_dom_CITMPC,inc_i_dom_NEINCG,inc_i_dom_REI,inc_i_dom_RIOI,inc_i_dom_SEI
51,57134372270400000,1.0,KMOMB02,52.56366,120.5954,3765,8257.272,7985.0,15107,0.0,...,1,0,0,0,0,0,0,1,0,0
129,65134433094700000,1.0,KELDK15,149.76850,725.8261,3060,18059.580,14207.5,46115,0.0,...,0,0,0,0,1,0,0,0,0,0
10,59134390567400000,1.0,KVIHC15,56.41905,137.7125,50,2468.333,2647.5,4970,0.0,...,1,0,0,0,0,0,0,0,1,0
4,65134432186900000,1.0,KELDK37,217.12060,648.0765,10,9752.333,8557.5,26320,0.0,...,0,0,0,0,1,0,0,0,0,0
84,63134362976500000,1.0,KMAKE07,129.12860,514.8032,2913,5939.917,4845.0,20170,0.0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
y_train.head()

51     1
129    1
10     1
4      1
84     1
Name: binarize_score, dtype: int64

In [15]:
x_train.to_csv('binary_x_train.csv', index =0)
x_test.to_csv('binary_x_test.csv', index =0)
y_train.to_csv('binary_y_train.csv', index = 0)
y_test.to_csv('binary_y_test.csv', index = 0)