In [1]:
import pandas as pd
import glob
import os
from sklearn.model_selection import train_test_split

In [2]:
glob.glob('*.csv')

['all_data.csv',
 'binary_test.csv',
 'binary_train.csv',
 'binary_x_test.csv',
 'binary_x_train.csv',
 'binary_y_test.csv',
 'binary_y_train.csv',
 'data_merged_nocatvars.csv',
 'data_merged_noMissingData.csv',
 'diaries_trx_trunc_loans_start_bal.csv',
 'individual_outcomes_33_150.csv',
 'loan_outcomes_33_150.csv']

In [3]:
data = pd.read_csv('data_merged_noMissingData.csv')

In [4]:
data.shape

(135, 97)

In [5]:
data.head()

,m_ids_owner,owner_score,binarize_score,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti_x,con_pur_hh_maxpti,...,separated,widowed,tribe_Kalenjin,tribe_Kamba,tribe_Kikuyu,tribe_Kisii,tribe_Luhya,tribe_Luo,tribe_Mijikenda/Swahili,tribe_Taita/Taveta
0,65134441430300000,0.75,1,KELDK21,1061.1900,4257.9390,1150,26529.750,17300.0,75020,...,0,0,1,0,0,0,0,0,0,0
1,60134547419200000,0.50,999,KVIHK40,213.3567,406.9379,1810,14703.830,15589.5,29414,...,0,0,0,0,0,0,1,0,0,0
2,63134425702500000,1.00,1,KMAKE06,153.4010,1022.1200,120,5036.667,4232.5,18320,...,0,0,0,1,0,0,0,0,0,0
3,64134429266300000,1.00,1,KNBOK05,273.7134,1146.3220,3920,30884.000,29395.5,67102,...,0,0,0,0,1,0,0,0,0,0
4,65134432186900000,1.00,1,KELDK37,217.1206,648.0765,10,9752.333,8557.5,26320,...,0,0,1,0,0,0,0,0,0,0

In [6]:
data = data.loc[data['binarize_score'] != 999]

In [7]:
data.binarize_score.value_counts()

1    87
0    25
Name: binarize_score, dtype: int64

In [8]:
data.shape

(112, 97)

In [9]:
data.head()

,m_ids_owner,owner_score,binarize_score,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti_x,con_pur_hh_maxpti,...,separated,widowed,tribe_Kalenjin,tribe_Kamba,tribe_Kikuyu,tribe_Kisii,tribe_Luhya,tribe_Luo,tribe_Mijikenda/Swahili,tribe_Taita/Taveta
0,65134441430300000,0.75,1,KELDK21,1061.19000,4257.9390,1150,26529.750,17300.0,75020,...,0,0,1,0,0,0,0,0,0,0
2,63134425702500000,1.00,1,KMAKE06,153.40100,1022.1200,120,5036.667,4232.5,18320,...,0,0,0,1,0,0,0,0,0,0
3,64134429266300000,1.00,1,KNBOK05,273.71340,1146.3220,3920,30884.000,29395.5,67102,...,0,0,0,0,1,0,0,0,0,0
4,65134432186900000,1.00,1,KELDK37,217.12060,648.0765,10,9752.333,8557.5,26320,...,0,0,1,0,0,0,0,0,0,0
5,65134442822400000,0.80,1,KELDK20,92.59821,307.3109,840,3988.846,3150.0,9770,...,0,0,1,0,0,0,0,0,0,0

In [10]:
labels = data.binarize_score 
data = data.drop(['binarize_score'], axis = 1)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(data, labels, stratify = labels, random_state=42, test_size = 0.2 )

In [12]:
x_train.head()

,m_ids_owner,owner_score,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti_x,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,...,separated,widowed,tribe_Kalenjin,tribe_Kamba,tribe_Kikuyu,tribe_Kisii,tribe_Luhya,tribe_Luo,tribe_Mijikenda/Swahili,tribe_Taita/Taveta
74,65134441422200000,1.0,KELDK21,1061.19000,4257.9390,1150,26529.750,17300.0,75020,0.0,...,0,0,1,0,0,0,0,0,0,0
13,61134442309700000,1.0,KMOMT06,108.96080,213.7951,238,4299.000,5249.0,7000,0.0,...,0,0,0,0,0,0,0,1,0,0
110,65134436228800000,1.0,KELDK12,85.93093,308.7356,460,2601.364,2680.0,5530,0.0,...,0,0,1,0,0,0,0,0,0,0
94,65134432002400000,1.0,KELDK37,217.12060,648.0765,10,9752.333,8557.5,26320,0.0,...,0,0,1,0,0,0,0,0,0,0
21,57134320447800000,1.0,KMOMM10,84.06265,337.6078,690,11740.750,9863.0,25176,0.0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
y_train.head()

74     1
13     1
110    1
94     1
21     1
Name: binarize_score, dtype: int64

In [14]:
y_train = pd.DataFrame(y_train)
y_train.columns = ['owner_score_bin']

In [15]:
y_test = pd.DataFrame(y_test)
y_test.columns = ['owner_score_bin']

In [16]:
x_train.to_csv('binary_x_train.csv', index =0)
x_test.to_csv('binary_x_test.csv', index =0)
y_train.to_csv('binary_y_train.csv', index = 0)
y_test.to_csv('binary_y_test.csv', index = 0)

In [17]:
train_df = pd.concat([x_train.reset_index(drop=True), y_train], axis=1)
test_df  = pd.concat([x_test.reset_index(drop=True), y_test], axis=1)

In [18]:
train_df.to_csv('binary_train.csv', index =0)
test_df.to_csv('binary_test.csv', index = 0)